@font-face {
    font-family: 'Average Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Average Sans'), local('AverageSans-Regular'), url('../webfonts/AverageSans-Regular.ttf') format('truetype'), url('../webfonts/average-sans.woff') format('woff');
}
@font-face {
    font-family: 'Strait';
    font-style: normal;
    font-weight: 400;
    src: local('Strait'), local('Strait-Regular'), url('../webfonts/Strait-Regular.ttf') format('truetype'), url('../webfonts/strait.woff') format('woff');
}
html, * {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
section * {
    font-family: 'Average Sans', sans-serif;
}
header *, footer * {
    font-family: 'Strait', sans-serif;
}
header {
    background: #55325C; /*#292929;*/
    color: #fff;
    height: 54px;
}
header a {
    color: #F2660A;
    background: #55325C; /*#292929;*/
    font-weight: bold;
    text-decoration: none;
}
h1 {
    padding: 1em;
    font-size: 100%;
    float: left;
    line-height: 26px;
}
h1 a#organization {
    background: url('../icons/favicon.png') left center no-repeat;
    padding-left: 26px;
}
nav#primary {
    float: left;
    font-size: 120%;
    margin-left: 20px;
    border-left: 1px solid #444444;
    border-right: 1px solid #111111;
}
#primary li.selected a {
    background: #fefefe;
}
header nav ul > li {
    border-left: 1px solid #111111;
    border-right: 1px solid #444444;
    display: block;
    float: left;
}
header nav > ul > li > a {
    display: block;
    font-weight: bold;
    height: 54px;
    line-height: 54px;
    padding: 0 25px;
}
#secondary {
    float: right;
    margin-right: 1em;
}
#secondary form, #secondary div {
    float: left;
}
#secondary form {
    line-height: 20px;
    border-right: 1px solid #111;
    height: 54px;
    margin-right: 1em;
}
header fieldset {
    padding: 1em 1em 0;
    border: none;
    border-right: 1px solid #444;
    height: 38px;
}
#secondary p {
    background: #55325C; /*#292929;*/
    color: #fff;
    margin: .5em 0;
    text-align: right;
    line-height: 42px;
}
#secondary label {
    display: none;
}
section {
    clear: both;
    background: #fefefe;
    margin-bottom: 2em;
}
section h1, section h2, section h3, section thead * {
    font-family: 'Strait', sans-serif;
}
section p {
    margin: 1em;
}
section nav {
    float: left;
    width: 20%;
    margin-top: 1em;
    padding-left: 1em;
}
section nav h3 {
    background: url('../img/accordion-open.png') no-repeat 95% center #C4C4C4;
    color: #000;
    margin: 0 1em 0 .5em;
    padding: .5em 1em .5em .5em;
}
section nav ul {
    margin: 0 1.15em 1em .6em;
}
section nav li {
    list-style-type: none;
    text-transform: lowercase;
    background: #f0f0f0;
    color: #000;
    padding: 0.3em 0.5em;
    border-bottom: 1px solid #fefefe;
}
section nav li a {
    display: block;
    padding-left: .5em;
    font-size: 90%;
}
section nav #change-version label {
    display: none;
}
section article {
    padding: 1em 0 1em 1em;
    margin-left: 20%;
    width: 78%;
}
section a {
    color: #F2660A;
    background: transparent;
    font-weight: bold;
    text-decoration: none;
}
footer {
    clear: both;
    background: url(../img/migasfree.png) 25% center no-repeat #F0F0F0;
    border-top: 2px solid #E1E1E1;
    font-size: 110%;
}
footer p {
    margin: 1em 2em 0;
    text-align: center;
}
footer a {
    color: #F2660A; /*#5B80B2;*/
    font-weight: bold;
    text-decoration: none;
}

section nav form {
    margin: 0 1.15em 0 .6em;
}
#change-version {
    margin: 1em;
    padding: 5px;
    border: none;
}

.errornote {
    background: #93060F;
    color: #fff;
    font-weight: bold;
    padding: 0.5em 1em;
}
.errornote-animated {
    background: transparent;
    color: #000;
    font-weight: bold;
    padding: 0.5em 1em;
}
.messagelist li, p.info {
    list-style-type: none;
    padding: 0.5em 1em;
    background: #B0D4EF;
    color: #000;
    font-weight: bold;
}
fieldset.module div.errors {
    margin: 5px;
    border: 1px solid #93060F;
}
fieldset.module ul.errorlist {
    margin-left: 0;
    padding-left: 0;
}
fieldset.module h2 {
    font-size: 100%;
    padding-left: 1em;
}
.errorlist li {
    list-style-type: none;
    background: transparent;
    color: #93060F;
    font-weight: bold;
}

/*.computer {
    background: url('../icons/computer.png') left center no-repeat transparent;
    padding-left: 30px;
}*/

h2 img {
    position: relative;
    top: 7px;
}
ul.status {
    margin: 2em 3em;
    border: 1px solid #ccc;
}
ul.status li {
    list-style-type: none;
}
ul.status li a {
    display: block;
    padding: 0 1em 1em;
}
ul.status li a img {
    position: relative;
    top: 10px;
}

a.protocol {
    font-size: 50%;
    padding-right: .2em;
    color: #525252;
}

/* Sticky footer: http://www.mindfly.com/blog/2012/08/09/the-css-sticky-footer-fix/ */
html {height:100%;}
body {height:100%;}
#wrapper {min-height:100%;}
section {padding-bottom: 120px;}
footer {margin-top: -120px; height: 120px;}

/******/
.change-list-title {
    float: left;
}
.addlink, .historylink {
    border: 1px solid #959595;
    padding: 2px 5px;
    border-radius: 5px;
    background: #EBEBEB;
    color: #525252; /*#F2660A;*/
    font-weight: normal;
    text-decoration: none;
}
.object-tools {
    font-weight: bold;
    margin: 1em 0 1.5em;
    height: 1em;
    float: right;
}
.object-tools li {
    display: block;
    float: left;
    margin-left: 2em;
    padding: 0 0 0 8px;
}
#changelist {
    clear: right;
    width: 100%;
    position: relative;
    top: .8em;
    background: #f0f0f0;
    color: #000;
}
#changelist .actions, #changelist .paginator {
    background: #fefefe;
    color: #000;
}
#changelist .actions .clear, #changelist .actions .all {
    display: none;
}
#changelist #toolbar {
    background: #f0f0f0;
    border-top: 1px solid #ddd;
    padding: 3px;
}
#changelist-filter {
    background: #EFEFEF;
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
}
#changelist-filter h2 {
    background: #55325C; /*#292929;*/
    color: #fff;
    border-bottom: 1px solid #DDDDDD;
    font-size: 100%;
    padding: 2px 5px;
}
#changelist-filter h3 {
    font-size: 90%;
    padding: 5px;
}
#changelist-filter ul {
    margin-left: 10px;
}
section nav li.selected,
#changelist-filter li.selected {
    border-left: 5px solid #CCCCCC;
    margin-left: -10px;
    padding-left: 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#changelist-filter li {
    list-style-type: none;
}
#changelist-filter a {
    /*color: #999999;*/
    background: transparent;
}
#changelist .actions {
    border-top: 1px solid #ddd;
    padding: 3px;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
#changelist table {
    width: 85%;
}
table th, table td {
    text-align: left;
    padding: 2px 3px;
}
table thead th {
    background: #55325C; /*#292929;*/
    color: #fff;
    border-right: 1px solid #444;
    border-left: 1px solid #111;
}
table .ordinal {
    text-align: right;
}
#changelist table .action-checkbox-column, .action-checkbox {
    text-align: center;
    width: 1.5em;
}
.row1 {
    background: #fefefe;
}
.even {
    background: #f0f0f0;
}
#changelist .paginator {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    line-height: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0 0 1em;
}
.paginator .this-page {
    font-weight: bold;
    padding: 2px 6px;
    vertical-align: top;
}
.paginator a:link, .paginator a:visited {
    border: 1px solid #CCC;
    padding: 2px 6px;
    text-decoration: none;
}
.paginator .end {
    border-width: 2px !important;
    margin-right: 6px;
}

.aligned label {
    text-align: right;
}
form .aligned p.help {
    font-size: 90%;
}

/*******/
body.full section article, body.popup section article {
    margin: 0;
    padding-left: 3%;
    width: 96%;
}
body.popup section {
    padding-bottom: 0;
}
body.popup footer {
    display: none;
}

/*******/
table.model, table#query {
    width: 99%;
}
table.model tr, table#query tbody tr {
    border: 1px solid #ccc;
}
table.model p {
    margin: 0;
}

/*******/
dl.timeline * {
    font-size: 90%;
}
.date-passed, .date-passed + dd {
    font-weight: bold;
}
dl.timeline dd {
    border-bottom: 1px dashed #888;
    padding-left: 1em;
}
dl.timeline dd:last-child {
    border-bottom: none;
}

/*******/
body.login-page {
    background: #888;
    width: 28em;
    height: 15em;
    margin: 5em auto;
}
.login-page .status-placeholder, .login-page header nav {
    display: none;
}
.login-page h1 {
    padding-bottom: 0;
}
.login-page footer {
    background-image: none;
    height: 90px;
}
.login-page section {
    background: #fefefe;
}
.login-page section article {
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 100px;*/
    width: 100%;
}
.login-page article h2 {
    margin: 1em;
}
.login-page form {
    margin-top: 1em;
}
.login-page .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
    border: none;
}
.login-page .form-row label {
    float: left;
    width: 9em;
    padding-right: 0.5em;
    line-height: 2em;
    text-align: right;
    font-size: 1em;
    color: #333;
}
.login-page .form-row #id_username, .login-page .form-row #id_password {
    width: 14em;
}
.login-page span.help {
    font-size: 10px;
    display: block;
}
.login-page .submit-row {
    clear: both;
    padding: 1em 0 0 9.4em;
}

/*******/
.form-row {
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
}
.required label, label.required {
    font-weight: bold !important;
}
fieldset.module {
    border: 1px solid #ccc;
    clear: right;
}
fieldset.module .vCheckboxLabel {
    width: 8em;
    text-align: right;
    display: block !important;
}
fieldset.module .vCheckboxLabel:after {
    content: ':';
}
fieldset.module input[type="checkbox"] {
    position: relative;
    left: 9em;
    top: 1.5em;
}
.submit-row {
    /*border: 1px solid #CCCCCC;*/
    margin: 5px 0;
    padding: 5px 7px;
    /*text-align: right;*/
}

/*****/
ul.hardware li {
    list-style-type: none;
    width: 20%;
    margin: 5px 0;
}
.node {
    padding: 1em;
    background: #f0f0f0;
}
.node-unclaimed {
    padding: 1em;
    background: #FFFFCC;
    color: #FF9900;
}

/******/
ul.ui-autocomplete {
    font-family: 'Average Sans', sans-serif !important;
    font-size: 80% !important;
}

/*****/
body.status #audit a,
body.computer #audit a,
body.user #audit a,
body.login #audit a,
body.error #audit a,
body.device #audit a,
body.fault #audit a,
body.attribute #audit a,
body.migration #audit a,
body.notification #audit a,
body.query-result #audit a,
body.stats #audit a,
body.property #settings a,
body.version #settings a,
body.pms #settings a,
body.platform #settings a,
body.query #settings a,
body.userprofile #settings a,
body.group #settings a,
body.checking #settings a,
body.faultdef #settings a,
body.autocheckerror #settings a,
body.devicefile #settings a,
body.devicemodel #settings a,
body.devicemanufacturer #settings a,
body.deviceconnection #settings a,
body.devicetype #settings a,
body.repository #liberation a,
body.schedule #liberation a,
body.store #liberation a,
body.package #liberation a,
body.package-info #liberation a {
    background: #fefefe;
    color: #55325C; /*#292929;*/
}

body.status a.status,
body.computer a.computer,
body.user a.user,
body.login a.login,
body.error a.error,
body.device a.device,
body.fault a.fault,
body.attribute a.attribute,
body.migration a.migration,
body.notification a.notification,
body.property a.property,
body.version a.version,
body.pms a.pms,
body.platform a.platform,
body.query a.query,
body.userprofile a.userprofile,
body.group a.group,
body.checking a.checking,
body.faultdef a.faultdef,
body.autocheckerror a.autocheckerror,
body.devicefile a.devicefile,
body.devicemodel a.devicemodel,
body.devicemanufacturer a.devicemanufacturer,
body.deviceconnection a.deviceconnection,
body.devicetype a.devicetype,
body.repository a.repository,
body.schedule a.schedule,
body.store a.store,
body.package a.package,
body.package-info a.package-info,
a.current {
    border-left: .4em solid #c4c4c4;
    border-right: .4em solid #c4c4c4;
    padding-left: .1em;
    color: #55325C; /*#292929;*/
}

/*****/
body.stats div#result {
    text-align: center;
}

/*****/
.hide {
    display: none;
}

#sliding-panel {
    position: absolute;
    height: 0;
    width: 0;
}

#sliding-panel a {
    position: fixed;
    top: 60px;
    left: -2px;
    text-align: center;
    border: 1px solid #888;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 140%;
    background: #f0f0f0;
}


/*****/
.results_on_deck {
    font-size: 90%;
}


/** INLINE GROUP ***/
.inline-group fieldset.module td.original p {
  visibility: hidden;
}

.inline-group .tabular tr.has_original td {
  padding-top: 0em;
  vertical-align: top;
}

.inline-group fieldset.module input[type="checkbox"] {
    position: relative;
    left: 0em;
    top: 0em;
}

.inline-group fieldset.module .add-another {
  visibility: hidden;
}



