# http://docs.python.org/distutils/sourcedist.html#the-manifest-in-template

include AUTHORS INSTALL COPYING README MANIFEST.in
include bin/*
include migasfree/server/fixtures/*
recursive-include apache *
recursive-include ssl *
recursive-include migasfree *.py
include keys/*
recursive-include migasfree/locale *
recursive-include doc *
recursive-include repo *
recursive-include migasfree/templates *

