{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify bootstrapped_goodies_tags server_tags %}

{% block extrahead %}
    {{ block.super }}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../../jsi18n/' }}"></script>

    {# https://github.com/crucialfelix/django-ajax-selects/issues/107 #}
    <script type="text/javascript" src="{% static 'ajax_select/js/bootstrap.js'%}"></script>

    {{ media }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.object_model }} change-form{% endblock %}

{% block title %}{% trans opts.verbose_name %} {{ original }}{% endblock title %}

{% block content_title %}
    {% if title %}
        <h1 {% if change %}class="change-list-title"{% endif %}>
            {% trans opts.verbose_name %}: {% link opts %}
        </h1>
    {% endif %}
{% endblock content_title %}

{% block object-tools %}
{% endblock %}

{% block content %}
    {% with module_name=opts.model_name|lower|slugify %}
        {% render_with_template_if_exist opts.app_label|lower|add:"/admin_model_"|add:module_name|add:"_change_form.html" "" %}
    {% endwith %}

    <form class="form-horizontal" {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>
        {% csrf_token %}

        {% block form_top %}{% endblock %}

        <div class="alert alert-warning">
            {% blocktrans %}Fields in <strong>bold</strong> are required.{% endblocktrans %}
        </div>

        {% if errors %}
            <div class="alert alert-danger">
                {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}

                {{ adminform.form.non_field_errors }}
            </div>
        {% endif %}

        {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}

        <div id="content-main">
            <div>
                {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}

                {% block field_sets %}
                    {% for fieldset in adminform %}
                        {% include "admin/includes/fieldset.html" with group_column_width=adminform|form_fieldset_column_width %}
                    {% endfor %}
                {% endblock %}

                {% block after_field_sets %}{% endblock %}

                {% block inline_field_sets %}
                    {% for inline_admin_formset in inline_admin_formsets %}
                        {% include inline_admin_formset.opts.template %}
                    {% endfor %}
                {% endblock %}

                {% block after_related_objects %}{% endblock %}

                {% block admin_change_form_document_ready %}

                <script type="text/javascript">
                    (function($) {
                        $(document).ready(function() {
                            $('.add-another').click(function(e) {
                                e.preventDefault();
                                showAddAnotherPopup(this);
                            });
                            $('.related-lookup').click(function(e) {
                                e.preventDefault();
                                showRelatedObjectLookupPopup(this);
                            });
                        {% if adminform and add %}
                            $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
                        {% endif %}
                        });
                    })(django.jQuery);
                </script>
                {% endblock %}

                {# JavaScript for prepopulated fields #}
                {% prepopulated_fields_js %}
            </div>
        </div>

        <div class="form-actions">
            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
        </div>
    </form>
{% endblock content %}
