{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list bootstrapped_goodies_tags urls %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
    {% if cl.formset %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    {% endif %}
    {% if cl.formset or action_form %}
        {% url 'admin:jsi18n' as jsi18nurl %}
        <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
    {% endif %}
    {{ media.css }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
    {% if action_form %}
        {% if actions_on_top or actions_on_bottom %}
            <script type="text/javascript">
            (function($) {
                $(document).ready(function($) {
                    $("tr input.action-select").actions();
                });
            })(django.jQuery);
            </script>
        {% endif %}
    {% endif %}
{% endblock %}

{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.object_model }} change-list{% endblock %}

{% block content_title %}
    {% if title %}
        <h1 {% if has_add_permission %}class="change-list-title pull-left"{% endif %}>
            {% trans cl.opts.verbose_name_plural|capfirst %}
        </h1>
    {% endif %}
{% endblock content_title %}

{% block coltype %}flex{% endblock %}

{% block object-tools %}
    {% block object-tools-items %}
        {% if has_add_permission %}
            {% if cl.opts|stringformat:"s" == "server.deployment" %}
                <div class="dropdown pull-left">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="add-deployment"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                          title="{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="add-deployment">
                        <li><a href="{% url 'admin:server_internalsource_add' %}">{% trans 'Internal Source' %}</a></li>
                        <li><a href="{% url 'admin:server_externalsource_add' %}">{% trans 'External Source' %}</a></li>
                    </ul>
                </div>
            {% else %}
                <div id="add-button" class="pull-left">
                    {% url cl.opts|admin_urlname:'add' as add_url %}
                    <a role="button" href="{% add_preserved_filters add_url is_popup %}" class="btn btn-primary" title="{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endblock %}

    <div class="clearfix"></div>

    {% if cl.has_filters %}
        <div class="navbar-collapse collapse clearfix">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-filter" title="{% trans 'Filter' %}">
                            <span class="sr-only">{% trans 'Filter' %}</span>
                        </span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-left scrollable-dropdown-menu">
                        {% for spec in cl.filter_specs %}
                            {% admin_list_filter cl spec %}
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    {% if cl.filter_description %}
                    <ul class="filter-container">
                        {% for row in cl.filter_description %}
                            <li class="filter-content">
                                <span class="filter-field">
                                    <a href="{% del_params current_url.get_full_path row.param row.aux_param %}"
                                       title="{% trans 'Remove filter' %}" class="text-danger">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                    {{ row.name|capfirst }}
                                </span>
                                <span class="filter-value">{{ row.value }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    {% endif %}

    <div class="pull-left">{% block search %}{% search_form cl %}{% endblock %}</div>
{% endblock %}

{% block content %}
<form class="navbar-form" id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}

{% if cl.formset.errors %}
    <div class="alert alert-danger">
        <p class="errornote">
            {% if cl.formset.errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    </div>
{% endif %}


{% with app_name=cl.opts.model_name|lower|slugify %}
    {% render_with_template_if_exist cl.opts.app_label|lower|add:"/admin_app_"|add:app_name|add:"_description.html" "" %}
{% endwith %}

{% if action_form and actions_on_top and cl.show_admin_actions %}
    <div class="pull-right">{% admin_actions %}</div>
{% endif %}

<div id="content-main">
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="_changelist">
        {% block date_hierarchy %}
            {% date_hierarchy cl %}
        {% endblock %}

        {% if cl.formset %}
            <div>{{ cl.formset.management_form }}</div>
        {% endif %}

        {% block result_list %}
            {% result_list cl %}
        {% endblock %}
    </div>
</div>
{% if cl.formset and cl.result_count %}
<div class="navbar navbar-default">
    <div class="navbar-inner">
        <div class="navbar-form pull-left">
            {% if action_form and actions_on_bottom and cl.show_admin_actions %}
                {% admin_actions %}
            {% endif %}
        </div>
{% if cl.formset and cl.result_count %}
        <div class="navbar-form pull-right">
            <input type="submit" name="_save" class="btn btn-primary default" value="{% trans 'Save' %}"/>
        </div>
{% endif %}
    </div>
</div>
{% endif %}

{% block pagination %}
    {% pagination cl %}
{% endblock %}
</form>
{% endblock %}
