{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Log in' %}{% endblock %}

{% block bodyclass %}login-page{% endblock %}

{% block content_title %}{% endblock %}

{% block documentation %}{% endblock %}

{% block extrahead %}
<script type="text/javascript">
$(document).ready(function() {
    $('#id_username').attr('autocapitalize', 'off').focus();
})
</script>
{% endblock %}

{% block sliding_panel %}{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <h1>{% trans 'Log in' %} @ migasfree</h1>

    {% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
        <div class="alert alert-danger">
            {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </div>
    {% endif %}

    {% if form.non_field_errors or form.this_is_the_login_form.errors %}
        {% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}

    <form action="{{ app_path }}" method="post" id="login-form" role="form">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_username">{% trans 'Username:' %}</label>
            <input class="form-control" type="text" name="username" id="id_username" value="{% if form.username.value != None %}{{ form.username.value }}{% endif %}" />
            {% if not form.this_is_the_login_form.errors %}
                <span class="help-inline alert-danger">{{ form.username.errors|striptags }}</span>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_password">{% trans 'Password:' %}</label>
            <input class="form-control" type="password" name="password" id="id_password" />
            {% if not form.this_is_the_login_form.errors %}
                <span class="help-inline alert-danger">{{ form.password.errors|striptags }}</span>
            {% endif %}
        </div>

        <div class="form-actions">
            <input type="hidden" name="this_is_the_login_form" value="1" />
            <input type="hidden" name="next" value="{{ next }}" />
            <input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" />
        </div>
    </form>
</div>
{% endblock content %}
