{% load i18n %}
{% load admin_urls %}

{% if opts or cl %}
    <ul class="breadcrumb">
        {% if opts.object_name.lower == 'computer' or opts.object_name.lower == 'user' or opts.object_name.lower == 'login' or opts.object_name.lower == 'error' or opts.object_name.lower == 'fault' or opts.object_name.lower == 'clientattribute' or opts.object_name.lower == 'migration' or opts.object_name.lower == 'notification' or opts.object_name.lower == 'serverattribute' or opts.object_name.lower == 'synchronization' or opts.object_name.lower == 'statuslog' %}
            <li>{% trans 'Datum' %}</li>
        {% endif %}

        {% if opts.object_name.lower == 'property' or opts.object_name.lower == 'serverproperty' or opts.object_name.lower == 'project' or opts.object_name.lower == 'pms' or opts.object_name.lower == 'platform' or opts.object_name.lower == 'query' or opts.object_name.lower == 'userprofile' or opts.object_name.lower == 'group' or opts.object_name.lower == 'checking' or opts.object_name.lower == 'faultdefinition' or opts.object_name.lower == 'autocheckerror' or opts.object_name.lower == 'clientproperty' or opts.object_name.lower == 'attributeset' or opts.object_name.lower == 'domain' or opts.object_name.lower == 'scope'  %}
            <li>{% trans 'Settings' %}</li>
        {% endif %}

        {% if opts.object_name.lower == 'device' or opts.object_name.lower == 'devicelogical' or opts.object_name.lower == 'devicefeature' or opts.object_name.lower == 'devicedriver' or opts.object_name.lower == 'devicemodel' or opts.object_name.lower == 'devicemanufacturer' or opts.object_name.lower == 'deviceconnection' or opts.object_name.lower == 'devicetype' %}
            <li>{% trans 'Devices' %}</li>
        {% endif %}

        {% if opts.object_name.lower == 'deployment' or opts.object_name.lower == 'schedule' or opts.object_name.lower == 'package' or opts.object_name.lower == 'store' or opts.object_name.lower == 'policy' or opts.object_name.lower == 'application' or opts.object_name.lower == 'internalsource' or opts.object_name.lower == 'externalsource' %}
            <li>{% trans 'Liberation' %}</li>
        {% endif %}

        {% if opts.object_name.lower == 'computer' %}
            <li><a href="{% url 'computers_summary' %}">{% trans 'Computers' %}</a></li>
        {% elif opts.object_name.lower == 'deployment' %}
            <li><a href="{% url 'deployments_summary' %}">{% trans 'Deployments' %}</a></li>
        {% elif opts.object_name.lower == 'store' %}
            <li><a href="{% url 'stores_summary' %}">{% trans 'Stores' %}</a></li>
        {% elif opts.object_name.lower == 'package' %}
            <li><a href="{% url 'packages_summary' %}">{% trans 'Packages/Sets' %}</a></li>
        {% elif opts.object_name.lower == 'application' %}
            <li><a href="{% url 'applications_summary' %}">{% trans 'Applications' %}</a></li>
        {% elif opts.object_name.lower == 'device' %}
            <li><a href="{% url 'devices_summary' %}">{% trans 'Devices' %}</a></li>
        {% elif opts.object_name.lower == 'devicemodel' %}
            <li><a href="{% url 'device_models_summary' %}">{% trans 'Models' %}</a></li>
        {% elif opts.object_name.lower == 'clientattribute' %}
            <li><a href="{% url 'attributes_summary' %}">{% trans 'Attributes' %}</a></li>
        {% elif opts.object_name.lower == 'serverattribute' %}
            <li><a href="{% url 'tags_summary' %}">{% trans 'Tags' %}</a></li>
        {% elif opts.object_name.lower == 'synchronization' %}
            <li><a href="{% url 'syncs_summary' %}">{% trans 'Synchronizations' %}</a></li>
        {% elif opts.object_name.lower == 'migration' %}
            <li><a href="{% url 'migrations_summary' %}">{% trans 'Migrations' %}</a></li>
        {% elif opts.object_name.lower == 'statuslog' %}
            <li><a href="{% url 'status_logs_summary' %}">{% trans 'Status Logs' %}</a></li>
        {% elif opts.object_name.lower == 'fault' %}
            <li><a href="{% url 'faults_summary' %}">{% trans 'Faults' %}</a></li>
        {% elif opts.object_name.lower == 'error' %}
            <li><a href="{% url 'errors_summary' %}">{% trans 'Errors' %}</a></li>
        {% elif opts.object_name.lower == 'notification' %}
            <li><a href="{% url 'notifications_summary' %}">{% trans 'Notifications' %}</a></li>
        {% else %}
            <li><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
        {% endif %}
        <li>{% trans 'Results' %}</li>

        {% if original %}
            <li>
                {% if add %}
                    {% trans 'Add' %} {{ opts.verbose_name }}
                {% else %}
                    {{ original|truncatewords:"18" }}
                {% endif %}
            </li>
        {% endif %}
    </ul>
{% endif %}
