{% load i18n %}

<ul class="dropdown-menu">
    <li><a href="{% url 'admin:server_clientproperty_changelist' %}">{% trans 'Formulas' %}</a></li>
    <li><a href="{% url 'admin:server_serverproperty_changelist' %}">{% trans 'Tag Categories' %}</a></li>
    <li><a href="{% url 'admin:server_attributeset_changelist' %}">{% trans 'Attribute Sets' %}</a></li>

    <li role="presentation" class="divider"></li>

    <li><a href="{% url 'admin:server_project_changelist' %}">{% trans 'Projects' %}</a></li>
    <li><a href="{% url 'admin:server_pms_changelist' %}">{% trans 'P.M.S.' %}</a></li>
    <li><a href="{% url 'admin:server_platform_changelist' %}">{% trans 'Platforms' %}</a></li>

    <li role="presentation" class="divider"></li>

    <li><a href="{% url 'admin:server_checking_changelist' %}">{% trans 'Checkings' %}</a></li>
    <li><a href="{% url 'admin:server_faultdefinition_changelist' %}">{% trans 'Fault Definitions' %}</a></li>
    <li><a href="{% url 'admin:server_autocheckerror_changelist' %}">{% trans 'Auto Check Errors' %}</a></li>
    <li><a href="{% url 'admin:server_query_changelist' %}">{% trans 'Queries' %}</a></li>

    <li role="presentation" class="divider"></li>

    <li><a href="{% url 'admin:server_userprofile_changelist' %}">{% trans 'User Profiles' %}</a></li>
    <li><a href="{% url 'admin:auth_group_changelist' %}">{% trans 'Groups' %}</a></li>
    <li><a href="{% url 'admin:index' %}">{% trans 'Site administration' %}</a></li>

    <li role="presentation" class="divider"></li>

    <li><a href="{% url 'admin:catalog_application_changelist' %}">{% trans 'Apps Catalog' %}</a></li>
</ul>
