{% if form.non_field_errors %}
    <div class="form_errors">
        {% for err in form.non_field_errors %}
            <div class="alert alert-danger">{{ err }}</div>
        {% endfor %}
    </div>
{% endif %}

{% for hidden in form.hidden_fields %}
   {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
    {% if field.errors %}
        <div class="control-group has-error">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}
                <span class="help-inline">
                    {% for error in field.errors %}{{ error }}{% endfor %}
                </span>
            </div>
        </div>
    {% else %}
        <div class="control-group">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}
                {% if field.help_text %}
                    <p class="help-inline"><small>{{ field.help_text }}</small></p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}
