{% load i18n %}
{% spaceless %}
{% if timeline %}
    {% for item in timeline.delays %}
        <li class="list-group-item">
            <p class="list-group-item-heading">
                <span class="label label-{{ item.deploy }}">
                    {{ item.date|date:"Y-m-d (D)" }}
                </span>
                {% if item.percent > 0 and item.percent <= 100 %}
                    &nbsp;{{ item.percent }}%
                {% endif %}
            </p>

            <p class="list-group-item-text">
                {% for att in item.attributes %}
                    {{ att }}<br />
                {% endfor %}
            </p>
        </li>
    {% endfor %}
{% endif %}
{% endspaceless %}
