{% load i18n %}

<ul id="devices" class="dropdown-menu">
    <li><a href="{% url 'admin:server_devicefeature_changelist' %}">{% trans 'Features' %}</a></li>
    <li><a href="{% url 'admin:server_devicedriver_changelist' %}">{% trans 'Drivers' %}</a></li>
    <li><a href="{% url 'admin:server_devicemodel_changelist' %}">{% trans 'Models' %}</a></li>
    <li><a href="{% url 'admin:server_devicemanufacturer_changelist' %}">{% trans 'Manufacturer' %}</a></li>
    <li><a href="{% url 'admin:server_deviceconnection_changelist' %}">{% trans 'Connections' %}</a></li>
    <li><a href="{% url 'admin:server_devicetype_changelist' %}">{% trans 'Types' %}</a></li>
    <li><a href="{% url 'admin:server_device_changelist' %}">{% trans 'Devices' %}</a></li>
    <li><a href="{% url 'admin:server_devicelogical_changelist' %}">{% trans 'Devices Logical' %}</a></li>
</ul>
