{% load i18n %}

<ul id="devices" class="dropdown-menu">
    <li><a href="{% url 'admin:server_devicemanufacturer_changelist' %}">{% trans 'Manufacturers' %}</a></li>
    <li><a href="{% url 'admin:server_devicemodel_changelist' %}">{% trans 'Models' %}</a></li>
    <li><a href="{% url 'admin:server_devicefeature_changelist' %}">{% trans 'Features' %}</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="{% url 'admin:server_device_changelist' %}">{% trans 'Devices' %}</a></li>
    <li><a href="{% url 'device_replacement' %}">{% trans 'Devices Replacement' %}</a></li>
    <li><a href="{% url 'append_devices_from_computer' %}">{% trans 'Append devices from computer' %}</a></li>
</ul>
