{% load i18n admin_static %}

{% block extrahead %}
    <script src="{% static 'js/highcharts.js' %}" type="text/javascript"></script>
{% endblock extrahead %}

{% if chart %}
    <figure class="stat-container">
        <object type="image/svg+xml" data="{{ chart|safe }}"></object>
    </figure>
{% endif %}

{% if data %}
    <div id="container" class="stat-container"></div>
{% endif %}

{% block extrabody %}
    {% include 'includes/spline_js.html' with x_labels=x_labels data=data id='container' %}
{% endblock extrabody %}
