{% load i18n admin_static server_tags %}

{% block extrahead %}
    <script src="{% static 'js/highcharts.js' %}" type="text/javascript"></script>
{% endblock extrahead %}

{% if chart %}
    <figure class="stat-container">
        <object type="image/svg+xml" data="{{ chart|safe }}"></object>
    </figure>
{% endif %}

{% if data %}
    <div id="container" class="stat-container"></div>
{% endif %}

{% block extrabody %}
<script type="text/javascript">
Highcharts.chart("container", {
    credits: {
        enabled: false
    },
    chart: {
        type: "spline"
    },
    title: {
        text: null
    },
    yAxis: {
        title: {
            text: null
        }
    },
    xAxis: {
        categories: {{ x_labels|as_json|safe }}
    },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
        }
    },
    responsive: {
        rules: [{
            condition: {
                maxWidth: 800
            },
            chartOptions: {
                legend: {
                    layout: "horizontal",
                    align: "center",
                    verticalAlign: "bottom"
                }
            }
        }]
    },
    series: [
        {% for k, v in data.items %}
        {
            name: {{ k|as_json|safe }},
            data: {{ v|safe }}
        },
        {% endfor %}
    ]
});
</script>
{% endblock extrabody %}
