{% spaceless %}
{% load i18n %}
<div class="btn-group btn-group-xs nowrap">
  <a href="{{ lnk.url }}" class="btn btn-default btn-role" role="button">{{ lnk.text }}</a>
  <button type="button" class="btn btn-default btn-migas dropdown-toggle-split"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          data-app="{{ lnk.app }}" data-model="{{ lnk.class }}" data-pk="{{ lnk.pk }}">
      <span class="caret"> </span>
      <span class="sr-only">{% trans 'Toggle Dropdown' %}</span>
  </button>
  <ul class="dropdown-menu" role="menu">
      <li class="text-center"><span class="fa fa-refresh fa-spin"></span></li>
  </ul>
</div>
{% endspaceless %}
