{% load i18n %}
{% if lnk.related %}
    {% for item in lnk.related %}
        <li>
            <p>
                <a class="nounderline" href="{{ item.url }}">
                    <span  class="label label-{% if item.count > 0 %}primary{% else %}default{% endif %}">{{item.count}}</span>
                </a>
                {{ item.text }}
                {% if item.actions %}
                        {% for action in item.actions %}
                            <a  class="nounderline" href="{{ action.url }}" title="{{action.description}}">
                                 <span class="label label-default">{{ action.title }}</span>
                            </a>
                        {% endfor %}
                {% endif %}
            </p>
        </li>
    {% endfor %}
{% endif %}
