{% load i18n %}

<ul class="dropdown-menu">
    {% if current_version.id != None %}
        <li>
            <a href="{% url 'admin:server_repository_changelist' %}?active__exact=1&version__id__exact={{ current_version.id }}">{% trans 'Repositories' %}</a>
        </li>
        <li>
               <a href="{% url 'admin:server_store_changelist' %}?version__id__exact={{ current_version.id }}">{% trans 'Stores' %}</a>
        </li>
        <li>
            <a href="{% url 'admin:server_package_changelist' %}?version__id__exact={{ current_version.id }}">{% trans 'Packages/Sets' %}</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'admin:server_repository_changelist' %}?active__exact=1">{% trans 'Repositories' %}</a>
        </li>
        <li>
               <a href="{% url 'admin:server_store_changelist' %}">{% trans 'Stores' %}</a>
        </li>
        <li>
            <a href="{% url 'admin:server_package_changelist' %}">{% trans 'Packages/Sets' %}</a>
        </li>
    {% endif %}
    <li>
        <a href="{% url 'admin:server_schedule_changelist' %}">{% trans 'Schedules' %}</a>
    </li>
    <li>
        <a href="{% url 'package_info' '' %}">{% trans 'Packages information' %}</a>
    </li>
</ul>
