{% load i18n %}

<ul class="dropdown-menu">
    {% if perms.server.change_source %}
        <li><a href="{% url 'sources_summary' %}">{% trans 'Sources' %}</a></li>
    {% endif %}
    {% if perms.server.change_deployment %}
        <li><a href="{% url 'deployments_summary' %}">{% trans 'Deployments' %}</a></li>
    {% endif %}
    {% if perms.server.change_schedule %}
        <li>
            <a href="{% url 'admin:server_schedule_changelist' %}">{% trans 'Schedules' %}</a>
        </li>
    {% endif %}
    <li role="separator" class="divider"></li>
    {% if perms.server.change_store %}
        <li>
            <a href="{% url 'stores_summary' %}">{% trans 'Stores' %}</a>
        </li>
    {% endif %}
    {% if perms.server.change_package %}
        <li>
            <a href="{% url 'packages_summary' %}">{% trans 'Packages/Sets' %}</a>
        </li>
    {% endif %}
    <li>
        <a href="{% url 'package_info' '' %}">{% trans 'Packages information' %}</a>
    </li>
    <li role="separator" class="divider"></li>
    {% if perms.catalog.change_application %}
        <li>
            <a href="{% url 'applications_summary' %}">{% trans 'Applications' %}</a>
        </li>
    {% endif %}
    {% if perms.catalog.change_policy %}
        <li>
            <a href="{% url 'admin:catalog_policy_changelist' %}">{% trans 'Policies' %}</a>
        </li>
    {% endif %}
</ul>
