{% load i18n %}

<ul class="dropdown-menu">
    <li><a href="{% url 'stats_dashboard' %}">{% trans 'Dashboard' %}</a></li>
    {% if perms.server.change_synchronization %}
        <li><a href="{% url 'stats_syncs_daily' %}">{% trans 'Synchronized Computers / Day' %}</a></li>
        <li><a href="{% url 'stats_syncs_monthly' %}">{% trans 'Synchronized Computers / Month' %}</a></li>
    {% endif %}
    {% if perms.server.change_computer and perms.server.change_schedule %}
        <li><a href="{% url 'stats_project_schedule_delays' %}">{% trans 'Provided Computers / Delay' %}</a></li>
    {% endif %}
    {% if perms.server.change_device %}
        <li><a href="{% url 'devices_summary' %}">{% trans 'Devices Summary' %}</a></li>
    {% endif %}
</ul>
