{% extends "admin/change_form.html" %}
{% load admin_urls admin_static i18n server_tags bootstrapped_goodies_tags mac_address_list %}

{% block extrastyle %}
    <link href="{% static 'ajax_select/css/ajax_select.css' %}" type="text/css" media="all" rel="stylesheet">
    <link href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}"
          type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'autocomplete_light/select2.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'css/datetimepicker.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{% static 'ajax_select/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'ajax_select/js/ajax_select.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/default_logical_device.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/computer_change_form.js' %}"></script>
{% endblock %}

{% block content %}
<input type="hidden" id="computer-id" value="{{ original.id }}" />

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="input-group">
                    {% if user.is_superuser %}
                        {% dab_field_rendering adminform.form.name %}
                        <div class="input-group-btn">
                            <button id="update-name" class="btn btn-primary" type="submit" title="{% trans 'Save' %}">
                                <span class="far fa-save fa-lg"></span>
                                <span class="sr-only">{% trans 'Save' %}</span>
                            </button>
                        </div>
                    {% else %}
                        {{ original.name }}
                    {% endif %}
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p title="{% trans 'full qualified domain name' %}">
                            <span class="fas fa-info-circle"></span> {{ original.fqdn }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6" title="{% trans 'Project' %}">
                        <span class="fas fa-sitemap"></span>&nbsp; {{ original.project.link }}
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <p title="{% trans 'Date of entry into the migasfree system' %}">
                            <span class="far fa-calendar-plus"></span> {{ original.created_at }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <p title="{% trans 'ip address' %}">
                            <span class="fas fa-at"></span> {{ original.ip_address }}
                        </p>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <p title="{% trans 'forwarded ip address' %}">
                            <span class="fa-layers fa-fw">
                                <i class="fas fa-at"></i>
                                <i class="fas fa-share" data-fa-transform="shrink-2 up-4 right-8"></i>
                            </span>&nbsp;
                            {{ original.forwarded_ip_address }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-group" role="group" aria-label="{% trans 'Related data' %}">
                    <a href="{% url 'computer_events' original.id %}" class="btn btn-default">
                        {% trans 'Events' %}
                    </a>
                    <a href="{% url 'computer_simulate_sync' original.id %}" class="btn btn-default">
                        {% trans 'Simulate sync' %}
                    </a>
                    <a href="{% url 'computer_label' original.uuid %}" class="btn btn-default">
                        {% trans 'Label' %}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans 'Hardware' %}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 col-xs-4" title="{% if original.machine == 'P' %}{% trans 'Physical' %}{% elif original.is_docker %}docker{% else %}{% trans 'Virtual' %}{% endif %}">
                        <span class="pull-left {% if original.machine == 'P' %}fas fa-laptop{% elif original.is_docker %}fab fa-docker{% else %}fas fa-cube{% endif %} fa-4x"></span>
                        {% if original.get_architecture %}
                            <span class="badge">{{ original.get_architecture }} bits</span>
                        {% endif %}
                    </div>
                    <div class="col-md-8 col-xs-8">
                        <p>{{ original.hwnode_set.first.link }}</p>
                        <p title="{% trans 'UUID' %}">{{ original.uuid }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <p title="{% trans 'CPU' %}">
                            <span class="fas fa-tachometer-alt fa-lg"></span>
                            {{ original.cpu }}
                        </p>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <p title="{% trans 'RAM' %}">
                            <span class="fas fa-microchip fa-lg"></span>
                            {{ original.ram|filesizeformat }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <p title="{% trans 'Storage' %}">
                            <span class="far fa-hdd fa-lg"></span>
                            {{ original.storage|filesizeformat }}
                            <span title="{% trans 'Disks' %}">({{ original.disks }})</span>
                        </p>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <p title="{% trans 'MAC address' %}">
                            <span class="fas fa-exchange-alt fa-lg" data-fa-transform="rotate--90"></span>
                            {{ original.mac_address|mac_address_list }}
                        </p>
                    </div>
                </div>
                {% if not has_change_permission %}
                <div class="row">
                    <div class="col-md-12">
                        <p title="{% trans 'last hardware capture' %}">
                            <span class="far fa-clock fa-lg"></span>
                            {{ original.last_hardware_capture }}
                        </p>
                    </div>
                </div>
                {% endif %}
            </div>
            {% if has_change_permission %}
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-10 col-xs-10" title="{% trans 'last hardware capture' %}">
                        {% dab_field_rendering adminform.form.last_hardware_capture %}
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button id="update-last-hardware-capture"
                                class="btn btn-primary" type="submit" title="{% trans 'Save' %}">
                            <span class="far fa-save fa-lg"></span>
                            <span class="sr-only">{% trans 'Save' %}</span>
                        </button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans 'Current Situation' %}</div>
            <div class="panel-body">
                {% if has_change_permission %}
                <p title="{% trans 'status' %}">
                    <span class="fas fa-flag fa-lg"></span>
                    {% dab_field_rendering adminform.form.status %}
                </p>
                <p title="{% trans 'comment' %}">
                    <span class="fas fa-comment fa-lg"></span>
                    {% dab_field_rendering adminform.form.comment %}
                </p>
                <p title="{% trans 'tags' %}">
                    <span class="fas fa-tag fa-lg"></span>
                    {% dab_field_rendering adminform.form.tags %}
                </p>
                {% else %}
                <div class="col-md-12" title="{% trans 'status' %}">
                    <p>
                        <span class="fas fa-flag fa-lg"></span>
                        {{ original.status }}
                    </p>
                </div>
                <div class="col-md-12" title="{% trans 'comment' %}">
                    <p class="fas fa-comment fa-lg"></p>
                    <pre>{{ original.comment }}</pre>
                </div>
                <div class="col-md-12" title="{% trans 'tags' %}">
                    <div class="compact-content">
                        {% for att in original.tags.all %}
                            {{ att.link }}<br />
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% if original.get_attribute_sets.count %}
                    <div class="row" id="attribute-sets">
                        <div class="col-md-12 col-xs-12" title="{% trans 'attribute sets' %}">
                            <span class="far fa-circle fa-lg"></span>
                            <div class="compact-content">
                                {% for att in original.get_attribute_sets.all %}
                                    {{ att.link }}<br />
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="col-md-12">
                    <div class="col-md-6 col-xs-6">
                        <p title="{% trans 'Errors' %}" class="lead text-center">
                            <span class="fas fa-bug fa-lg"></span>&nbsp;
                            {{ original.unchecked_errors }} / {{ original.errors }}
                        </p>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <p title="{% trans 'Faults' %}" class="lead text-center">
                            <span class="fas fa-bomb fa-lg"></span>&nbsp;
                            {{ original.unchecked_faults }} / {{ original.faults }}
                        </p>
                    </div>
                </div>
            </div>
            {% if has_change_permission %}
            <div class="panel-footer">
                <button id="update-current-situation" class="btn btn-primary" type="submit" title="{% trans 'Save' %}">
                    <span class="far fa-save fa-lg"></span>
                    <span class="sr-only">{% trans 'Save' %}</span>
                </button>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans 'Synchronization' %}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p>
                            <span title="{% trans 'sync start date' %}"><span class="fas fa-play"></span> {{ original.sync_start_date }}</span>&nbsp;&nbsp;
                            <span title="{% trans 'sync end date' %}"><span class="fas fa-stop"></span> {{ original.sync_end_date }}</span>
                            &nbsp;&nbsp;<span title="{% trans 'Last Update Time' %}">(<span class="far fa-clock"></span> {{ original.last_sync_time }})</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12" title="{% trans 'User' %}">
                        <span class="fas fa-user fa-lg"></span>&nbsp; {{ original.sync_user.link }}
                    </div>
                </div>
                <div class="row" id="sync-attributes">
                    <div class="col-md-12 col-xs-12" title="{% trans 'sync attributes' %}">
                        <span class="fas fa-hashtag fa-lg"></span>
                        <div class="compact-content">
                            {% for att in original.get_only_attributes.all %}
                                {{ att.link }}<br />
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans 'Software' %}</div>
            <div class="panel-body">
                <div class="col-md-12" title="{% trans 'software inventory' %}">
                    <span class="fas fa-archive"></span>
                    <pre class="reduced-content">{{ original.software_inventory }}</pre>
                </div>
                <div class="col-md-12" title="{% trans 'software history' %}">
                    <span class="fas fa-history"></span>
                    <pre class="reduced-content">{{ original.software_history }}</pre>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans 'Devices' %}</div>
            <div class="panel-body">
                {% if has_change_permission %}
                <p title="{% trans 'Assigned' %}">
                    <span class="fas fa-print"></span>
                    {% dab_field_rendering adminform.form.assigned_logical_devices_to_cid %}
                </p>
                {% else %}
                    {{ adminform.form.assigned_logical_devices_to_cid }}
                {% endif %}
                {% if has_change_permission %}
                <p title="{% trans 'Default' %}">
                    <span class="fas fa-asterisk"></span>
                    {% dab_field_rendering adminform.form.default_logical_device %}
                </p>
                {% elif original.default_logical_device %}
                <div class="col-md-12" title="{% trans 'Default' %}">
                    <span class="fas fa-asterisk"></span>&nbsp; {{ original.default_logical_device }}
                </div>
                {% endif %}
                {% if original.inflicted_logical_devices.count %}
                    <p class="clearfix" title="{% trans 'Inflicted' %}">
                        <span class="fas fa-magic"></span>
                        {% for device in original.inflicted_logical_devices.all %}
                            {{ device.link }}<br />
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
            {% if has_change_permission %}
            <div class="panel-footer">
                <button id="update-devices" class="btn btn-primary" type="submit" title="{% trans 'Save' %}">
                    <span class="far fa-save fa-lg"></span>
                    <span class="sr-only">{% trans 'Save' %}</span>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</div>

    {% if has_delete_permission %}
        <div class="form-actions">
            <a href="{% url opts|admin_urlname:'changelist' %}{{ original.id }}/delete/"
               class="btn btn-danger deletelink"><span class="far fa-trash-alt"></span> {% trans "Delete" %}</a>
        </div>
    {% endif %}
{% endblock content %}
