{% extends "admin/change_form.html" %}
{% load admin_urls i18n server_tags bootstrapped_goodies_tags mac_address_list %}

{% block content %}
<input type="hidden" id="computer-id" value="{{ original.id }}" />

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="input-group">
                    {% if user.is_superuser %}
                        {% dab_field_rendering adminform.form.name %}
                        <div class="input-group-btn">
                            <button id="update-name" class="btn btn-primary" type="submit" title="{% trans 'Update' %}">
                                <span class="far fa-save fa-lg"></span>
                                <span class="sr-only">{% trans 'Update' %}</span>
                            </button>
                        </div>
                    {% else %}
                        {{ original.name }}
                    {% endif %}
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p title="{% trans 'full qualified domain name' %}">
                            <span class="fas fa-info-circle"></span> {{ original.fqdn }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6" title="{% trans 'Project' %}">
                        <span class="fas fa-sitemap"></span>&nbsp; {{ original.project.link }}
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <p title="{% trans 'Date of entry into the migasfree system' %}">
                            <span class="far fa-calendar-plus"></span> {{ original.created_at }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <p title="{% trans 'ip address' %}">
                            <span class="fas fa-at"></span> {{ original.ip_address }}
                        </p>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <p title="{% trans 'forwarded ip address' %}">
                            <span class="fas fa-share-square"></span> {{ original.forwarded_ip_address }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans 'Hardware' %}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-xs-3" title="{% if original.machine == 'P' %}{% trans 'Physical' %}{% else %}{% trans 'Virtual' %}{% endif %}">
                        <span class="pull-left fas fa-{% if original.machine == 'P' %}laptop{% else %}cube{% endif %} fa-4x"></span>
                    </div>
                    <div class="col-md-9 col-xs-9">
                        <p>{{ original.hwnode_set.first.link }}</p>
                        <p class="small" title="{% trans 'UUID' %}">{{ original.uuid }}</p>
                    </div>
                </div>
                <div class="row small">
                    <div class="col-md-6 col-xs-6">
                        <div class="col-md-3 col-xs-3"><span class="fas fa-microchip fa-3x"></span></div>
                        <div class="col-md-9 col-xs-9">
                            <p title="{% trans 'CPU' %}">{{ original.cpu }}</p>
                            <p title="{% trans 'RAM' %}">{{ original.ram|filesizeformat }}</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="col-md-3 col-xs-3"><span class="far fa-hdd fa-4x"></span></div>
                        <div class="col-md-9 col-xs-9">
                            <p title="{% trans 'Storage' %}">{{ original.storage|filesizeformat }}</p>
                            <p title="{% trans 'Disks' %}">{{ original.disks }}</p>
                        </div>
                    </div>
                </div>
                <div class="row small">
                    <div class="col-md-6">
                        <div class="col-md-2 col-xs-2"><span class="fas fa-plug fa-lg"></span></div>
                        <div class="col-md-10 col-xs-10">
                            <p title="{% trans 'MAC address' %}">{{ original.mac_address|mac_address_list }}</p>
                        </div>
                    </div>
                </div>
                {% if not has_change_permission %}
                <div class="row">
                    <div class="col-md-12">
                        <p title="{% trans 'last hardware capture' %}"><span class="far fa-clock"></span> {{ original.last_hardware_capture }}</p>
                    </div>
                </div>
                {% endif %}
            </div>
            {% if has_change_permission %}
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-10 col-xs-10" title="{% trans 'last hardware capture' %}">
                        {% dab_field_rendering adminform.form.last_hardware_capture %}
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button id="update-last-hardware-capture"
                                class="btn btn-primary" type="submit" title="{% trans 'Update' %}">
                            <span class="far fa-save fa-lg"></span>
                            <span class="sr-only">{% trans 'Update' %}</span>
                        </button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans 'Current Situation' %}</div>
            <div class="panel-body">
                {% if has_change_permission %}
                <p title="{% trans 'status' %}">
                    {% dab_field_rendering adminform.form.status %}
                </p>
                <p title="{% trans 'comment' %}">
                    <span class="fas fa-comment"></span>
                    {% dab_field_rendering adminform.form.comment %}
                </p>
                <p title="{% trans 'tags' %}">
                    <span class="fas fa-tag"></span>
                    {% dab_field_rendering adminform.form.tags %}
                </p>
                {% else %}
                <div class="col-md-12" title="{% trans 'status' %}">
                    {{ original.status }}
                </div>
                <div class="col-md-12" title="{% trans 'comment' %}">
                    <p class="fas fa-comment"></p>
                    <pre>{{ original.comment }}</pre>
                </div>
                <div class="col-md-12" title="{% trans 'tags' %}">
                    <div class="compact-content">
                        {% for att in original.tags.all %}
                            {{ att.link }}<br />
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="col-md-12">
                    <div class="col-md-6 col-xs-6">
                        <p title="{% trans 'Unchecked Errors' %}" class="lead text-center">
                            <span class="fas fa-bug fa-lg"></span>&nbsp; {{ original.unchecked_errors }}
                        </p>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <p title="{% trans 'Unchecked Faults' %}" class="lead text-center">
                            <span class="fas fa-bomb fa-lg"></span>&nbsp; {{ original.unchecked_faults }}
                        </p>
                    </div>
                </div>
            </div>
            {% if has_change_permission %}
            <div class="panel-footer">
                <button id="update-current-situation" class="btn btn-primary" type="submit" title="{% trans 'Update' %}">
                    <span class="far fa-save fa-lg"></span>
                    <span class="sr-only">{% trans 'Update' %}</span>
                </button>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans 'Synchronization' %}</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <span title="{% trans 'sync start date' %}"><span class="fas fa-play"></span> {{ original.sync_start_date }}</span>
                    &nbsp;<span class="fas fa-long-arrow-alt-right"></span>&nbsp;
                    <span title="{% trans 'sync end date' %}">{{ original.sync_end_date }} <span class="fas fa-stop"></span></span>
                    &nbsp;&nbsp;<span title="{% trans 'Last Update Time' %}">({{ original.last_sync_time }} <span class="far fa-clock"></span>)</span>
                </div>
                <div class="col-md-12" title="{% trans 'User' %}">
                    <span class="fas fa-user"></span>&nbsp; {{ original.sync_user.link }}
                </div>
                <div class="col-md-12" title="{% trans 'sync attributes' %}">
                    <div class="compact-content">
                        {% for att in original.sync_attributes.all %}
                            {{ att.link }}<br />
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans 'Software' %}</div>
            <div class="panel-body">
                <div class="col-md-12" title="{% trans 'software inventory' %}">
                    <span class="fas fa-archive"></span>
                    <pre class="reduced-content">{{ original.software_inventory }}</pre>
                </div>
                <div class="col-md-12" title="{% trans 'software history' %}">
                    <span class="fas fa-history"></span>
                    <pre class="reduced-content">{{ original.software_history }}</pre>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans 'Devices' %}</div>
            <div class="panel-body">
                {% if has_change_permission %}
                <p title="{% trans 'Assigned' %}">
                    <span class="fas fa-print"></span>
                    {% dab_field_rendering adminform.form.assigned_logical_devices_to_cid %}
                </p>
                {% else %}
                    {{ adminform.form.assigned_logical_devices_to_cid }}
                {% endif %}
                {% if has_change_permission %}
                <p title="{% trans 'Default' %}">
                    <span class="fas fa-asterisk"></span>
                    {% dab_field_rendering adminform.form.default_logical_device %}
                </p>
                {% elif original.default_logical_device %}
                <div class="col-md-12" title="{% trans 'Default' %}">
                    <span class="fas fa-asterisk"></span>&nbsp; {{ original.default_logical_device }}
                </div>
                {% endif %}
                {% if original.inflected_logical_devices.count %}
                    <p class="clearfix" title="{% trans 'Inflected' %}">
                        <span class="fas fa-magic"></span>
                        {% for device in original.inflected_logical_devices.all %}
                            {{ device.link }}<br />
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
            {% if has_change_permission %}
            <div class="panel-footer">
                <button id="update-devices" class="btn btn-primary" type="submit" title="{% trans 'Update' %}">
                    <span class="far fa-save fa-lg"></span>
                    <span class="sr-only">{% trans 'Update' %}</span>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</div>

    {% if has_delete_permission %}
        <div class="form-actions">
            <a href="{% url opts|admin_urlname:'changelist' %}{{ original.id }}/delete/"
               class="btn btn-danger deletelink"><span class="far fa-trash-alt"></span> {% trans "Delete" %}</a>
        </div>
    {% endif %}
{% endblock content %}
