{% load i18n %}
{% load url from future %}
{% load current_option from navigation %}

<nav>
    <h3>{% trans 'Datum' %}</h3>
    <ul id="data">
        <li><a class="status" href="{% url 'dashboard' %}">{% trans 'Status' %}</a></li>
        <li><a class="computer" href="{% url 'admin:server_computer_changelist' %}">{% trans 'Computers' %}</a></li>
        <li><a class="user" href="{% url 'admin:server_user_changelist' %}">{% trans 'Users' %}</a></li>
        <li><a class="login" href="{% url 'admin:server_login_changelist' %}">{% trans 'Logins' %}</a></li>
        <li><a class="error" href="{% url 'admin:server_error_changelist' %}">{% trans 'Errors' %}</a></li>
        <li><a class="fault" href="{% url 'admin:server_fault_changelist' %}">{% trans 'Faults' %}</a></li>
        <li><a class="device" href="{% url 'admin:server_device_changelist' %}">{% trans 'Devices' %}</a></li>
        <li><a class="attribute" href="{% url 'admin:server_attribute_changelist' %}">{% trans 'Attributes' %}</a></li>
        <li><a class="migration" href="{% url 'admin:server_migration_changelist' %}">{% trans 'Migrations' %}</a></li>
        <li><a class="notification" href="{% url 'admin:server_notification_changelist' %}">{% trans 'Notifications' %}</a></li>
    </ul>

    {% if query_names %}
        <h3>{% trans 'Queries' %}</h3>
        <ul id="queries">
        {% for item in query_names %}
            <li>
                <a class="{% current_option 'query' query_id=item.0 %}" href="{% url 'query' item.0 %}">{{ item.1 }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    <h3>{% trans 'Stats' %}</h3>
    <ul id="stats">
        <li><a class="{% current_option 'chart_type' chart_type='hourly_updated' %}" href="{% url 'chart_type' 'hourly_updated' %}">{% trans 'Updated Computers / Hour' %}</a></li>
        <li><a class="{% current_option 'chart_type' chart_type='daily_updated' %}" href="{% url 'chart_type' 'daily_updated' %}">{% trans 'Updated Computers / Day' %}</a></li>
        <li><a class="{% current_option 'chart_type' chart_type='monthly_updated' %}" href="{% url 'chart_type' 'monthly_updated' %}">{% trans 'Updated Computers / Month' %}</a></li>
        <li><a class="{% current_option 'chart_type' chart_type='delay_updated' %}" href="{% url 'chart_type' 'delay_schedule' %}">{% trans 'Provided Computers / Delay' %}</a></li>
        <li><a class="{% current_option 'chart_type' chart_type='version_computer' %}" href="{% url 'chart_type' 'version_computer' %}">{% trans 'Computers / Version' %}</a></li>
    </ul>
</nav>
