{% load i18n %}

<ul class="status">
    {% if status %}
        {% for item in status %}
            <li class="{% cycle 'odd' 'even' %}">
                <a href='{{ item.url }}'>
                    <img src="{{ STATIC_URL }}icons/{{ item.icon }}" />
                    {{ item.result }}
                </a>
            </li>
        {% endfor %}
    {% else %}
        <li class="odd">
            <a href="#">
                <img src="{{ STATIC_URL }}icons/checking.png" />
                {% trans 'All O.K.' %}
            </a>
        </li>
    {% endif %}
</ul>
