{% load i18n %}
{% load server_tags %}
{% load url from future %}

<nav>
    <h3>{% trans 'Packaging' %}</h3>
    <ul>
        <li><a class="repository" href="{% url 'admin:server_repository_changelist' %}?active__exact=1">{% trans 'Repositories' %}</a></li>
        <li><a class="store" href="{% url 'admin:server_store_changelist' %}">{% trans 'Stores' %}</a></li>
        <li><a class="package" href="{% url 'admin:server_package_changelist' %}">{% trans 'Packages/Sets' %}</a></li>
        <li><a class="package-info" href="{% url 'package_info' '' %}">{% trans 'Packages information' %}</a></li>
    </ul>

    {% if version_names %}
        <h3>{% trans 'Select version' %}</h3>
        <form action="{% url 'change_version' %}" method="post">
            <fieldset id="change-version">
                <label for="version">{% trans 'Version' %}:</label>
                <select id="version" name="version">
                    {% for item in version_names %}
                        <option value="{{ item.0 }}" {% if item.1 = current_version %}selected="selected"{% endif %}>{{ item.1 }}</option>
                    {% endfor %}
                </select>

                <input type="submit" value="{% trans 'Change' %}" />
            </fieldset>
        </form>
    {% endif %}
</nav>
