{% extends "admin/change_form.html" %}
{% load admin_urls i18n server_tags bootstrapped_goodies_tags %}

{% block content %}
<form class="form-horizontal" {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>
    {% csrf_token %}

    {% if errors %}
        <div class="alert alert-danger">
            {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}

            {{ adminform.form.non_field_errors }}
        </div>
    {% endif %}

    <div class="form-actions">
        {% block submit_buttons_top %}{% submit_row %}{% endblock %}
    </div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans 'General' %}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p>
                            <label for="id_enabled">{% trans 'enabled' %}</label>&nbsp;
                            {% dab_field_rendering adminform.form.enabled %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12{% if adminform.errors.name %} has-error{% endif %}">
                        <p>
                            <label class="control-label required" for="id_name" title="{% trans 'name' %}">
                                <span class="fas fa-info"></span>
                            </label>
                            {% dab_field_rendering adminform.form.name %}
                            {% if adminform.errors.name %}
                                <span class="text-danger">{{ adminform.errors.name|striptags }}</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12{% if adminform.errors.project %} has-error{% endif %}">
                        <p title="{% trans 'project' %}">
                            {% if original.id %}
                                <span class="fas fa-sitemap"></span>&nbsp; {{ original.project.link }}
                                <input type="hidden" id="id_project" name="project" value="{{ original.project.id }}" />
                            {% else %}
                                    <label class="control-label required" for="id_project">
                                        <span class="fas fa-sitemap"></span>
                                    </label>
                                    {% dab_field_rendering adminform.form.project %}
                                    {% if adminform.errors.project %}
                                        <span class="text-danger">{{ adminform.errors.project|striptags }}</span>
                                    {% endif %}
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-xs-12{% if adminform.errors.comment %} has-error{% endif %}">
                        <p title="{% trans 'comment' %}">
                            <label class="control-label" for="id_comment">
                                <span class="fas fa-comment"></span>
                            </label>
                            {% dab_field_rendering adminform.form.comment %}
                            {% if adminform.errors.comment %}
                                <span class="text-danger">{{ adminform.errors.comment|striptags }}</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans 'To Whom (Attributes)' %}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p title="{% trans 'included attributes' %}">
                            <label class="control-label" for="id_included_attributes_text">
                                <span class="fas fa-hashtag fa-lg"></span>
                            </label>
                            {% dab_field_rendering adminform.form.included_attributes %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p title="{% trans 'excluded attributes' %}">
                            <label class="control-label" for="id_excluded_attributes_text">
                                <span class="fas fa-hashtag fa-lg"></span>
                                <span class="fas fa-minus fa-xs" data-fa-transform="shrink-3 up-8 right-4"></span>
                            </label>
                            {% dab_field_rendering adminform.form.excluded_attributes %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans 'Source' %}
            </div>
            <div class="panel-body">


                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p title="{% trans 'base' %}">
                            <label class="control-label" for="id_base_text">
                                base
                            </label>
                            {% dab_field_rendering adminform.form.base %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p title="{% trans 'suite' %}">
                            <label class="control-label" for="id_suite_text">
                                suite
                            </label>
                            {% dab_field_rendering adminform.form.suite %}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p title="{% trans 'components' %}">
                            <label class="control-label" for="id_components_text">
                                components
                            </label>
                            {% dab_field_rendering adminform.form.components %}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p title="{% trans 'frozen' %}">
                            <label class="control-label" for="id_frozen_text">
                                frozen
                            </label>
                            {% dab_field_rendering adminform.form.frozen %}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p title="{% trans 'options' %}">
                            <label class="control-label" for="id_options_text">
                                options
                            </label>
                            {% dab_field_rendering adminform.form.options %}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p title="{% trans 'expire' %}">
                            <label class="control-label" for="id_expire_text">
                                expire
                            </label>
                            {% dab_field_rendering adminform.form.expire %}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans 'What (Packages)' %}
            </div>
            <div class="panel-body">


                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p title="{% trans 'packages to install' %}">
                            <label class="control-label" for="id_packages_to_install">
                                <span class="fas fa-download"></span>
                            </label>
                            {% dab_field_rendering adminform.form.packages_to_install %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p title="{% trans 'packages to remove' %}">
                            <label class="control-label" for="id_packages_to_remove">
                                <span class="fas fa-upload"></span>
                            </label>
                            {% dab_field_rendering adminform.form.packages_to_remove %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans 'Packages by default' %}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p>
                            <label class="control-label" for="id_default_preincluded_packages">
                                {% trans 'default pre-included packages' %}
                            </label>
                            {% dab_field_rendering adminform.form.default_preincluded_packages %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p>
                            <label class="control-label" for="id_default_included_packages">
                                {% trans 'default included packages' %}
                            </label>
                            {% dab_field_rendering adminform.form.default_included_packages %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p>
                            <label class="control-label" for="id_default_excluded_packages">
                                {% trans 'default excluded packages' %}
                            </label>
                            {% dab_field_rendering adminform.form.default_excluded_packages %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans 'When (Schedule)' %}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 col-xs-4 text-center{% if adminform.errors.start_date %} has-error{% endif %}" title="{% trans 'start date' %}">
                        {% dab_field_rendering adminform.form.start_date %}
                        {% if adminform.errors.start_date %}
                            <span class="text-danger">{{ adminform.errors.start_date|striptags }}</span>
                        {% endif %}
                    </div>
                    <div class="col-md-4 col-xs-4 text-center">
                        <label class="control-label pull-left" for="id_schedule" title="{% trans 'Schedule' %}">
                            <span class="far fa-calendar-alt"></span>&nbsp;
                        </label>
                        {% dab_field_rendering adminform.form.schedule %}
                    </div>
                    {% if original.schedule %}
                    <div class="col-md-4 col-xs-4 text-center" title="{% trans 'time line' %}">
                        <span class="fas fa-chart-line"></span>&nbsp;
                        {% include "includes/deployment_timeline.html" %}
                    </div>
                    {% endif %}
                </div>
                {% if original.schedule %}
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p id="computers-delay" class="lead text-center">{% trans 'Provided Computers / Delay' %}</p>
                        <object data="{% url 'provided_computers' %}?id={{ object_id }}" class="stat-embeded">
                            <embed src="{% url 'provided_computers' %}?id={{ object_id }}"
                                   class="stat-embeded" />
                        </object>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

    <div class="form-actions">
        {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
    </div>
</form>
{% endblock %}
