{% extends "admin/change_form.html" %}
{% load admin_urls i18n server_tags bootstrapped_goodies_tags %}

{% block content %}
<form class="form-horizontal" {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>
    {% csrf_token %}

    {% if errors %}
        <div class="alert alert-danger">
            {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}

            {{ adminform.form.non_field_errors }}
        </div>
    {% endif %}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans 'General' %}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12{% if adminform.errors.name %} has-error{% endif %}">
                        <p>
                            <label class="control-label required" for="id_name" title="{% trans 'name' %}">
                                <span class="fas fa-info"></span>
                            </label>
                            {% dab_field_rendering adminform.form.name %}
                            {% if adminform.errors.name %}
                                <span class="text-danger">{{ adminform.errors.name|striptags }}</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12{% if adminform.errors.comment %} has-error{% endif %}">
                        <p title="{% trans 'comment' %}">
                            <label class="control-label" for="id_comment">
                                <span class="fas fa-comment"></span>
                            </label>
                            {% dab_field_rendering adminform.form.comment %}
                            {% if adminform.errors.comment %}
                                <span class="text-danger">{{ adminform.errors.comment|striptags }}</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans 'Attributes' %}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p title="{% trans 'included attributes' %}">
                            <label class="control-label" for="id_included_attributes_text">
                                <span class="fas fa-hashtag fa-lg"></span>
                            </label>
                            {% dab_field_rendering adminform.form.included_attributes %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p title="{% trans 'excluded attributes' %}">
                            <label class="control-label" for="id_excluded_attributes_text">
                                <span class="fas fa-hashtag fa-lg"></span>
                                <span class="fas fa-minus fa-xs" data-fa-transform="shrink-3 up-8 right-4"></span>
                            </label>
                            {% dab_field_rendering adminform.form.excluded_attributes %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans 'Available tags' %}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p title="{% trans 'tags' %}">
                            <label class="control-label" for="id_tags_text">
                                <span class="fas fa-tag"></span>
                            </label>
                            {% dab_field_rendering adminform.form.tags %}
                        </p>
                    </div>
                </div>
            </div>
            {% if has_change_permission %}
            <div class="panel-footer">
                <button id="create-structure" class="btn btn-primary" type="submit"
                        title="{% trans 'Create Structure' %}">
                    <span class="fas fa-code-branch fa-lg"></span>
                    <span class="sr-only">{% trans 'Create Structure' %}</span>
                </button>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans 'Domain Admins' %}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p title="{% trans 'Users' %}">
                            <label class="control-label" for="id_users">
                                <span class="fas fa-users fa-lg"></span>
                            </label>
                            {% dab_field_rendering adminform.form.users %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="form-actions">
        {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
    </div>
</form>
{% endblock %}
