{% extends "base.html" %}
{% load i18n admin_modify adminmedia %}
{% load server_tags %}

{% block extrahead %}
    {{ block.super }}
    {% url admin:jsi18n as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
    {{ media }}
{% endblock extrahead %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/forms.css" />
{% endblock extrastyle %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block documentation %}
    <p><a href="{% url django-admindocs-models-index %}{{ opts.app_label }}.{{ opts.object_name.lower }}">{% trans 'Data Model Documentation' %}</a></p>
{% endblock documentation %}

{% block content_title %}
    {% if title %}
        <h2><img src="{{ STATIC_URL }}icons/{{ opts.module_name }}.png" width="32" /> {{ opts.verbose_name }}: {% autoescape off %}{% link opts %}{% endautoescape %}</h2>
    {% endif %}
{% endblock content_title %}

{% block menu %}
    {% if opts.module_name = 'computer' or opts.module_name = 'user' or opts.module_name = 'login' or opts.module_name = 'error' or opts.module_name = 'fault' or opts.module_name = 'device' or opts.module_name = 'attribute' %}
        {% include 'includes/mining_menu.html' %}
    {% endif %}

    {% if opts.module_name = 'property' or opts.module_name = 'version' or opts.module_name = 'pms' or opts.module_name = 'schedule' or opts.module_name = 'query' or opts.module_name = 'userprofile' or opts.module_name = 'group' or opts.module_name = 'checking' or opts.module_name = 'faultdef' or opts.module_name = 'autocheckerror' or opts.module_name = 'devicefile' or opts.module_name = 'devicemodel' or opts.module_name = 'devicemanufacturer' or opts.module_name = 'deviceconnection' or opts.module_name = 'devicetype' %}
        {% include 'includes/config_menu.html' %}
    {% endif %}

    {% if opts.module_name = 'repository' or opts.module_name = 'package' or opts.module_name = 'store' %}
        {% include 'includes/software_menu.html' %}
    {% endif %}
{% endblock menu %}

{% block content %}
{% block object-tools %}
    {% if change %}
        {% if not is_popup %}
            <ul class="object-tools">
                <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
                {% if has_absolute_url %}
                    <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>
                {% endif%}
            </ul>
        {% endif %}
    {% endif %}
{% endblock object-tools %}

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">
    {% csrf_token %}{% block form_top %}{% endblock %}
    <div>
    {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
    {% if save_on_top %}{% submit_row %}{% endif %}

    {% if errors %}
        <p class="errornote">
            {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ adminform.form.non_field_errors }}
    {% endif %}

    {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
    {% endfor %}

    {% block after_field_sets %}{% endblock %}

    {% for inline_admin_formset in inline_admin_formsets %}
        {% include inline_admin_formset.opts.template %}
    {% endfor %}

    {% block after_related_objects %}{% endblock %}

    {% submit_row %}

    {% if adminform and add %}
        <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
    {% endif %}

    {# JavaScript for prepopulated fields #}
    {% prepopulated_fields_js %}
    </div>
</form>
{% endblock content %}
