{% extends "ajax_select/autocompleteselectmultiple.html" %}

{% block extra_script %}
<script type="text/javascript">
function makeLink(link, projectId) {
    var newLink = link;
    var last = link.lastIndexOf("?");
    if (last != -1)
        newLink = newLink.substring(0, last);
    if (projectId)
        newLink = newLink + "?project_id=" + projectId;
    return newLink;
}

function changeSource() {
    var projectId = $("#id_project").val();
    oldLink = $("#id_packages_text").autocomplete("option", "source");
    newLink = makeLink(oldLink, projectId);
    $("#id_packages_text").autocomplete("option", "source", newLink);

    if (typeof addMigasEvents === "function") {
        addMigasEvents();
    }
}

$(document).ready(function() {
    changeSource();
    $("#id_project").bind("change", changeSource);
    $("#id_packages_on_deck").bind("added", changeSource);
});
</script>
{% endblock extra_script %}
