{% load i18n %}
{% load url from future %}

<ul class="nav navbar-nav">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            {% trans 'Relations' %}
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'admin:server_login_changelist' %}?attributes__id__exact={{ object_id }}">{% trans 'Logins' %}</a></li>

            <li><a href="{% url 'admin:server_repository_changelist' %}?attributes__id__exact={{ object_id }}">{% trans 'Repositories' %}</a></li>
        </ul>
    </li>
</ul>

<div class="clearfix"></div>
