{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>{% trans 'Devices' %}</li>
        <li><a href="{% url 'append_devices_from_computer' %}">{% trans 'Append devices from computer' %}</a></li>
    </ul>
{% endblock %}

{% block content %}
    <p>{% trans 'This procedure appends devices from one computer to another.' %}</p>

    <form action="." method="post" class="controls" role="form">
        {% csrf_token %}
        {% include 'includes/custom_form.html' %}

        <p><input type="submit" class="btn btn-primary" value="{% trans 'Append' %}" /></p>
    </form>

    {{ form.media }}
{% endblock content %}
