{% spaceless %}
<!doctype html>
{% load i18n admin_static bootstrapped_goodies_tags server_tags %}
<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <meta charset="utf-8" />

        <title>{% block title %}{{ title }} [@{{ current_domain }}:{{ current_scope }}]{% endblock title %} |
            migasfree</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="generator" content="migasfree-server_{{ migasfree_version }}" />

        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />

        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock blockbots %}

        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/fa-svg-with-js.css' %}" />
        <link rel="stylesheet" href="{% static 'admin/css/overrides.css' %}" />

        <link rel="stylesheet" href="{% static 'css/migasfree.css' %}?20190227" />
        <link rel="stylesheet" href="{% static 'css/migasfree_print.css' %}?20161129" media="print" />

        <link rel="stylesheet" href="{% static 'css/ajax_select.css' %}" />
        <link rel="stylesheet" href="{% static 'ajax-select/jquery-ui.css' %}" />

        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" href="{% block stylesheet_rtl %}{% static 'admin/css/rtl.css' %}{% endblock %}" />
        {% endif %}

        {% block extrastyle %}{% endblock extrastyle %}

        <script type="text/javascript">
        //<![CDATA[
            window.__admin_media_prefix__ = "{% filter escapejs %}{% static 'admin/' %}{% endfilter %}";
            window.__admin_utc_offset__ = "{% filter escapejs %}{% now 'Z' %}{% endfilter %}";
        //]]>
        </script>

        <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}" type="text/javascript"></script>
        <script src="{% static 'ajax-select/jquery-ui.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/migas_link.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/timeline.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/js.cookie.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/fontawesome-all.min.js' %}" type="text/javascript"></script>
        <script src="{% url 'javascript-catalog' %}" type="text/javascript"></script>

        <script type="text/javascript">
        //<![CDATA[
            $(document).ready(function() {
                var alertsIntervalId = 0;
                $('#alerts').load("{% url 'alerts' %}");
                $('#alerts').on('show.bs.dropdown', function () {
                    $('#alerts').load("{% url 'alerts' %}");
                    alertsIntervalId = setInterval(function() {
                        $('#alerts').load("{% url 'alerts' %}");
                        // console.log(this);
                    }, 10000);
                });
                $('#alerts').on('hide.bs.dropdown', function () {
                    clearInterval(alertsIntervalId);
                });

                $('.controls input[type="text"]').addClass('form-control');
                $('.controls input[type="password"]').addClass('form-control');
                $('.controls textarea').addClass('form-control');
                $('.controls select').addClass('form-control');
                $('.actions select').addClass('form-control input-sm');
                $('input[type="submit"]').addClass('btn');

                // wait until all elements has been drawn
                // https://github.com/crucialfelix/django-ajax-selects/pull/67
                setTimeout(function() {
                  $('.inline-group ul.tools a.add, .inline-group div.add-row a, .inline-group .tabular tr.add-row td a')
                    .on('click', function() {
                      $(window).trigger('init-autocomplete');
                    });
                  if (typeof addMigasEvents === "function") {
                      addMigasEvents();
                  }
                }, 100);

                $('article').find('input[type=text], textarea').filter(':visible:first').focus();

                $("#domain-search").keyup(function () {
                    var search = $("#domain-search").val().toUpperCase();
                    var div = $("#domain-names");
                    if (div.length) {
                        $.each(div.find("li"), function () {
                            if ($(this).text().indexOf(search) !== -1) {
                                $(this).css("display", "block");
                            }
                            else {
                                $(this).css("display", "none");
                            }
                        });
                    }
                });

                $("#search-objects a").click(function () {
                    this.href += "?q=" + $("#search-text").val();
                });
            });
        //]]>
        </script>

        {% block extrahead %}{% endblock extrahead %}
    </head>

    <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock bodyclass %}">
        {% if not is_popup %}
        <header class="bs-header">
            <nav class="navbar navbar-default navbar-header navbar-fixed-top" role="navigation">
                {% block branding %}
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                          <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a id="organization" title="{% trans 'Dashboard' %}"
                           href="{% url 'stats_dashboard' %}" class="navbar-brand">{% organization %}</a>
                    </div>
                {% endblock branding %}

                {% if user.is_active and user.is_staff %}
                <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li id="settings" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{% trans 'Settings' %}">
                                <span class="fas fa-cogs"></span>
                                <span class="sr-only">{% trans 'Settings' %}</span>
                                <b class="caret"></b>
                            </a>
                            {% include 'includes/config_menu.html' %}
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{% trans 'Devices' %}">
                                <span class="fas fa-print"></span>
                                <span class="sr-only">{% trans 'Devices' %}</span>
                                <b class="caret"></b>
                            </a>
                            {% include 'includes/devices_menu.html' %}
                        </li>

                        <li id="liberation" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{% trans 'Liberation' %}">
                                <span class="fas fa-truck"></span>
                                <span class="sr-only">{% trans 'Liberation' %}</span>
                                <b class="caret"></b>
                            </a>
                            {% include 'includes/software_menu.html' %}
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{% trans 'Datum' %}">
                                <span class="fas fa-laptop"></span>
                                <span class="sr-only">{% trans 'Datum' %}</span>
                                <b class="caret"></b>
                            </a>
                            {% include 'includes/mining_menu.html' %}
                        </li>

                        {% if query_names %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{% trans 'Queries' %}">
                                    <span class="fas fa-list-alt"></span>
                                    <span class="sr-only">{% trans 'Queries' %}</span>
                                    <b class="caret"></b>
                                </a>
                                <ul id="queries" class="dropdown-menu">
                                {% for item in query_names %}
                                    <li>
                                        <a href="{% url 'query' item.0 %}">{{ item.1|title }}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    </ul>

                    <form action="{% url 'admin:server_computer_changelist' %}" method="get" class="navbar-form navbar-left" role="search">
                        <div class="input-group">
                            <input type="text" id="search-text" name="q" size="8"
                                   placeholder="{% trans 'Search' %}" class="form-control input-sm"
                                   title="{% trans 'Search' %}" />
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="fas fa-search"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" id="search-objects">
                                    <li><a href="{% url 'admin:server_computer_changelist' %}">
                                        {% trans 'Computer' %}
                                    </a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'admin:server_deployment_changelist' %}">
                                        {% trans 'Deployment' %}
                                    </a></li>
                                    <li><a href="{% url 'admin:server_package_changelist' %}">
                                        {% trans 'Package/Set' %}
                                    </a></li>
                                    <li><a href="{% url 'admin:catalog_application_changelist' %}">
                                        {% trans 'Application' %}
                                    </a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'admin:server_device_changelist' %}">
                                        {% trans 'Device' %}
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </form>

                    <ul class="nav navbar-nav navbar-right navbar-user">
                        {% if user.is_staff %}
                            {% if domain_names %}
                            <li class="dropdown area-dropdown">
                                <a href="#" title="{% trans 'Change Domain' %}" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-globe"></i> {{ current_domain }} <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <input id="domain-search" class="form-control" type="search" value="" />
                                    <div id="domain-names">
                                        {% for item in domain_names %}
                                            <li>
                                                <a id="{{ item.0 }}" href="{% url 'change_domain' %}?domain={{ item.0 }}">{{ item.1 }}</a>
                                            </li>
                                        {% endfor %}
                                    </div>
                                </ul>
                            </li>
                            {% endif %}

                            {% if scope_names %}
                            <li class="dropdown area-dropdown">
                                <a href="#" title="{% trans 'Change Scope' %}" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-eye"></i> {{ current_scope }} <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for item in scope_names %}
                                        <li>
                                            <a href="{% url 'change_scope' %}?scope={{ item.0 }}">{{ item.1 }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}

                            <li class="dropdown alerts-dropdown" id="alerts">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{% trans 'Alerts' %}">
                                    <i class="fas fa-bell"></i> <span class="sr-only">{% trans 'Alerts' %}</span> <span class="badge">0</span>
                                </a>
                            </li>
                        {% endif %}

                        <li class="dropdown user-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-user"></i> {% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'admin:password_change' %}"><i class="fas fa-key"></i> {% trans 'Password change' %}</a></li>
                                <li><a href="{% url 'admin:logout' %}"><i class="fas fa-power-off"></i> {% trans 'Logout' %}</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                {% else %}
                    <div class="nav navbar-nav navbar-right navbar-brand">
                        <a href="{% url 'login' %}">{%trans 'Log in' %}</a>
                    </div>
                {% endif %}
            </nav>
        </header>
        {% endif %}{# is_popup #}

        <div id="wrapper" class="container">
            <article class="col-md-12" role="main">
                {% block breadcrumbs %}
                    {% include 'includes/breadcrumb.html' %}
                {% endblock breadcrumbs %}

                {% block messages %}
                    {% if messages %}
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="list-unstyled">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endblock messages %}

                {% block content_title %}
                    {% if title %}<h1>{{ title }}</h1>{% endif %}
                {% endblock content_title %}

                {% block object-tools %}{% endblock object-tools %}

                {% block content %}{{ content }}{% endblock content %}
            </article>
        </div>{# #wrapper #}

        {% if not is_popup %}
            {% block footer %}
                <footer class="bs-footer container">
                    <p id="copyright" class="pull-left">
                        &copy; 2010-{% now 'Y' %} <a href="http://www.migasfree.org">migasfree</a>,
                        under <a href="http://www.gnu.org/licenses/gpl.html">GPLv3</a>, <a href="https://github.com/migasfree/migasfree" title="migasfree-server_{{ migasfree_version }}"><span class="fab fa-github"></span> <span class="sr-only">(code project)</span></a>
                    </p>

                    <ul class="pull-right">
                        {% block documentation %}
                            <li><a href="{% url 'django-admindocs-models-index' %}{{ opts.app_label }}.{{ opts.object_name.lower }}" title="{% trans 'Data Model' %}"><span class="fas fa-database"></span> <span class="sr-only">{% trans 'Data Model' %}</span></a></li>
                        {% endblock documentation %}

                        <li><a href="/docs/" title="{% trans 'Experimental REST API' %}"><span class="fas fa-user-secret"></span> <span class="sr-only">{% trans 'Experimental REST API' %}</span></a></li>

                        {% if help %}
                            <li><a href="http://fun-with-migasfree.readthedocs.io/es/{{ migasfree_version }}/part03.html#{{ help }}" title="{% trans 'Fun with migasfree' %}"><span class="fas fa-book"></span> <span class="sr-only">{% trans 'Fun with migasfree' %}</span></a></li>
                        {% else %}
                            <li><a href="http://fun-with-migasfree.readthedocs.io/es/{{ migasfree_version }}/part03.html#{{ opts.app_label }}{{ opts.object_name.lower }}" title="{% trans 'Fun with migasfree' %}"><span class="fas fa-book"></span> <span class="sr-only">{% trans 'Fun with migasfree' %}</span></a></li>
                        {% endif %}

                    </ul>
                </footer>
            {% endblock footer %}
        {% endif %}{# is_popup #}

        {% block extrabody %}{% endblock extrabody %}
    </body>
</html>
{% endspaceless %}
