{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>{% trans 'Audit' %}</li>
        <li>{% trans 'Stats' %}</li>
    </ul>
{% endblock %}

{% block bodyclass %}stats{% endblock %}

{% block content %}
    <div id="result">
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0"
                width="500"
                height="250" id="graph-2" align="middle">
            <param name="allowScriptAccess" value="sameDomain" />
            <param name="movie" value="{{ STATIC_URL }}chart/open-flash-chart.swf" />
            <param name="quality" value="high" />
            <param name="flashvars" value="data-file={{ ofc }}" />
            <embed src="{{ STATIC_URL }}chart/open-flash-chart.swf"
                   quality="high"
                   bgcolor="#FFFFFF"
                   width="800"
                   height="400"
                   name="open-flash-chart"
                   align="middle"
                   allowScriptAccess="sameDomain"
                   type="application/x-shockwave-flash"
                   flashvars="data-file={{ ofc }}"
                   pluginspage="http://www.macromedia.com/go/getflashplayer" />
        </object>
    </div>
{% endblock content %}
