{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Delete selected computers' %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li>{% trans 'Datum' %}</li>
        <li><a href="{% url 'admin:server_computer_changelist' %}">{% trans 'Computers' %}</a></li>
    </ol>
{% endblock breadcrumbs %}

{% block content %}
    <h1 class="">{% trans 'Are you sure?' %}</h1>

    <form action="{% url 'computer_delete_selected' %}" method="post">
        {% csrf_token %}
        <p>{% trans 'Are you sure you want to delete these computers?' %} {{ object_list }}</p>
        <input type="hidden" name="selected" value="{{ object_list }}" />
        <div class="form-actions">
            <button class="btn btn-large btn-danger" type="submit">{% trans "Yes, I'm sure" %}</button> {% trans 'or' %}
            <a href="{% url 'admin:server_computer_changelist' %}" class="btn btn-default">{% trans 'cancel' %}</a>
        </div>
    </form>
{% endblock %}
