{% extends "base.html" %}
{% load i18n admin_static %}

{% block extrahead %}
    <script src="{% static 'js/highcharts.js' %}" type="text/javascript"></script>
{% endblock extrahead %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>{% trans 'Data' %}</li>
        <li>{{ title }}</li>
    </ul>
{% endblock %}

{% block content %}
    {% include 'includes/search_form.html' with url_name='admin:server_computer_changelist' %}

    {% include 'includes/multipie_chart.html' with item=computers_by_machine id='computer-machine' %}

    {% include 'includes/multipie_chart.html' with item=computers_by_status id='computer-status' %}

    {% include 'includes/multipie_chart.html' with item=productive_computers_by_platform id='platform-project' %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading text-left lead">
                {% trans 'New Computers / Month' %}
            </div>
            <div class="panel-body">
                <div id="container"></div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading text-left lead">
                {% trans 'Average Age of Productive Computers' %}
            </div>
            <div class="panel-body">
                <div id="average-age"></div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extrabody %}
    <script type="text/javascript" src="{% static 'js/chart_config.js' %}"></script>

    <script type="text/javascript">
    Highcharts.setOptions({
        lang: {
            noData: '{{ chart_options.no_data }}',
            resetZoom: '{{ chart_options.reset_zoom }}',
        }
    });

    var platformProjects = {{ productive_computers_by_platform.data|safe }};
    series = loadData(platformProjects);

    var platformProjectOptions = {
        chart: {
            renderTo: 'platform-project'
        },
        series: [{
            data: series[0]
        }, {
            data: series[1]
        }]
    };
    platformProjectOptions = jQuery.extend(true, {}, optionsMulti, platformProjectOptions);
    var platformProjectChart = new Highcharts.Chart(platformProjectOptions);

    var computerMachine = {{ computers_by_machine.data|safe }};
    series = loadData(computerMachine);
    var computerMachineOptions = {
        chart: {
            renderTo: 'computer-machine'
        },
        series: [{
            data: series[0]
        }, {
            data: series[1]
        }]
    };
    computerMachineOptions = jQuery.extend(true, {}, optionsMulti, computerMachineOptions);
    var computerMachineChart = new Highcharts.Chart(computerMachineOptions);

    var computerStatus = {{ computers_by_status.data|safe }};
    series = loadData(computerStatus);
    var computerStatusOptions = {
        chart: {
            renderTo: 'computer-status'
        },
        series: [{
            data: series[0]
        }, {
            data: series[1]
        }]
    };
    computerStatusOptions = jQuery.extend(true, {}, optionsMulti, computerStatusOptions);
    var computerStatusChart = new Highcharts.Chart(computerStatusOptions);
    </script>

    {% include 'includes/spline_js.html' with x_labels=new_computers_by_month.x_labels data=new_computers_by_month.data id='container' %}

{% include 'includes/spline_js.html' with x_labels=computers_average_age.x_labels data=computers_average_age.data id='average-age' %}
{% endblock extrabody %}
