{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>{% trans 'Settings' %}</li>
    </ul>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
$(document).ready(function() {
    setInterval(function() {
        $('article #results').load("{% url 'computer_messages' %}");
    }, 10000);
});
    </script>
{% endblock extrahead %}

{% block content %}
    <div id="results">
        {% include 'includes/computer_messages_result.html' %}
    </div>
{% endblock content %}
