<!doctype>
{% load admin_static %}
{% load i18n %}
<html>
    <head>
        <title>{{ search }}</title>
        <style type="text/css">
        body {
            width: 35em;
            height: 10em;
            border: 1px solid #000;
            padding: .5em 1em;
        }
        h1 {
            margin: 0 .5em;
            text-align: right;
            background: url('{% static 'img/favicon.png' %}') left center no-repeat;
        }
        h2 {
            font-size: 100%;
            text-align: center;
        }
        p {
            border-top: 1px solid #000;
            text-align: center;
        }
        </style>
    </head>
    <body>
        <h1>{{ search }}</h1>
        <h2>{{ uuid }}</h2>
        <h2>{% trans 'Server' %}: {{ server }}</h2>
        <p>{{ helpdesk }}</p>
    </body>
</html>
