{% extends "base.html" %}
{% load i18n mac_address_list %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li>{% trans 'Datum' %}</li>
        <li><a href="{% url 'admin:server_computer_changelist' %}">{% trans 'Computers' %}</a></li>
        <li><a href="{% url 'admin:server_computer_change' computer.id %}">{{ computer }}</a></li>
        <li>{% trans 'Hardware Information' %}</li>
    </ol>
{% endblock breadcrumbs %}

{% block content_title %}
    <h1>{% trans 'Hardware Information' %}: {{ computer.link }} </h1>

    <div class="row">
        <div class="col-md-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-xs-3" title="{% if computer.machine == 'P' %}{% trans 'Physical' %}{% else %}{% trans 'Virtual' %}{% endif %}">
                            <span class="pull-left fas fa-{% if computer.machine == 'P' %}laptop{% else %}cube{% endif %} fa-4x"></span>
                        </div>
                        <div class="col-md-9 col-xs-9">
                            <p>{{ computer.hwnode_set.first }}</p>
                            <p title="{% trans 'UUID' %}">{{ computer.uuid }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <p title="{% trans 'CPU' %}">
                                <span class="fas fa-tachometer-alt fa-lg"></span>
                                {{ computer.cpu }}
                            </p>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <p title="{% trans 'RAM' %}">
                                <span class="fas fa-microchip fa-lg"></span>
                                {{ computer.ram|filesizeformat }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <p title="{% trans 'Storage' %}">
                                <span class="far fa-hdd fa-lg"></span>
                                {{ computer.storage|filesizeformat }}
                                <span title="{% trans 'Disks' %}">({{ computer.disks }})</span>
                            </p>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <p title="{% trans 'MAC address' %}">
                                <span class="fas fa-exchange-alt fa-lg" data-fa-transform="rotate--90"></span>
                                {{ computer.mac_address|mac_address_list }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-6">
                            <p title="{% trans 'last hardware capture' %}">
                                <span class="far fa-clock fa-lg"></span> {{ computer.last_hardware_capture }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content_title %}

{% block content %}
    <div class="container-fluid">
        {% for item in data %}
        <div class="row">
            <div class="col-xs-6 col-md-4 col-md-offset-{{ item.fields.level }}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a href="{% url 'hardware_extract' item.pk %}">
                                {{ item.fields.description }}{% if item.fields.product %}: {{ item.fields.product }}{% endif %}
                            </a>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>
                        {% for field, value in item.fields.items %}
                            {% if value and field != 'parent' and field != 'claimed' and field != 'computer' and field != 'product' and field != 'description' and field != 'level' and field != 'icon' and field != 'physid' %}
                                {{ field|capfirst }}:
                                {% if field == 'size' or field == 'capacity' %}
                                    {{ value|filesizeformat }}
                                {% else %}
                                    {{ value }}
                                {% endif %}
                                <br />
                            {% endif %}
                        {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
