{% extends "base.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/cal-heatmap.css' %}" />
{% endblock extrastyle %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>{% trans 'Datum' %}</li>
        <li><a href="{% url 'admin:server_computer_changelist' %}">{% trans 'Computers' %}</a></li>
        <li><a href="{% url 'admin:server_computer_change' computer.id %}">{{ computer }}</a></li>
        <li>{% trans 'Events' %}</li>
    </ul>
{% endblock %}

{% block content_title %}
    <h1>{% trans 'Simulate' %}: {{ computer.link }} </h1>
{% endblock content_title %}

{% block content %}
<h3>INPUT</h3>
  <div> Login:
        <ul>
         date: {{login.date}}
        </ul>
         <ul>
          uuid:  {{computer.uuid}}
        </ul>
        <ul>
          version:  {{version.name}} ({{version.platform.name}})
        </ul>
        <ul>
          user:  {{login.user.name}} ({{login.user.fullname}})
        </ul>
   </div>

   <div> Attributes:
        <ul>
        {% for key, value  in attributes.items %}
          <li>{{key}}-{{ value }} </li>
         {% endfor %}
        </ul>
   </div>

<h3>OUTPUT</h3>
  <div> Packages to install:
        <ul>
        {% for key in packages.install %}
          <li>{{key}} </li>
         {% endfor %}
        </ul>
   </div>
   <div> Packages to remove:
        <ul>
        {% for key in packages.remove %}
          <li>{{key}} </li>
         {% endfor %}
        </ul>
   </div>

   <div> Repositories:
        <ul>
        {% for key in repositories %}
          <li>{{key.name}} </li>
         {% endfor %}
        </ul>
   </div>
   <div> Faultsdef:
        <ul>
        {% for key in faultsdef %}
          <li>{{key.name}} ({{key.language}})</li>
         {% endfor %}
        </ul>
   </div>
   <div> hardware_capture:
        <ul>
          <li>{{hardware_capture}} </li>
        </ul>
   </div>
   <div> Devices:
        <ul>
        {% for key in devices.logical %}
          <li>{{key.PRINTER.manufacturer}}__{{key.PRINTER.model}}__{{key.PRINTER.feature}}__{{key.PRINTER.name}}__{{key.PRINTER.id}}
              {% if key.PRINTER.id == devices.default %}
                      (default)
                {% endif %}

          </li>
        {% endfor %}
        </ul>
   </div>

{% endblock content %}
