{% extends "base.html" %}
{% load i18n admin_static %}

{% block extrahead %}
    <script src="{% static 'js/highcharts.js' %}" type="text/javascript"></script>
{% endblock extrahead %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>{% trans 'Devices' %}</li>
        <li>{{ title }}</li>
    </ul>
{% endblock %}

{% block content_title %}
    {% if title %}<h1 class="change-list-title pull-left">{{ title }}</h1>{% endif %}

    {% if perms.server.add_device %}
        <div id="add-button" class="pull-left">
            <a role="button" href="{% url 'admin:server_device_add' %}" class="btn btn-primary"
               title="{% trans 'Add Device' %}">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    {% endif %}
{% endblock content_title %}

{% block content %}
    {% include 'includes/search_form.html' with url_name='admin:server_device_changelist' %}

    <div class="row text-center">
        {% include 'includes/multipie_chart.html' with item=devices_by_connection id='devices-connection' %}

        {% include 'includes/multipie_chart.html' with item=devices_by_model id='devices-model' %}

        {% include 'includes/multipie_chart.html' with item=devices_by_manufacturer id='devices-manufacturer' %}
    </div>
{% endblock content %}

{% block extrabody %}
    <script type="text/javascript" src="{% static 'js/chart_config.js' %}"></script>

    <script type="text/javascript">
    Highcharts.setOptions({
        lang: {
            noData: '{{ chart_options.no_data }}',
            resetZoom: '{{ chart_options.reset_zoom }}'
        }
    });

    var devicesConnection = {{ devices_by_connection.data|safe }};
    var devicesConnectionOptions = {
        chart: {
            renderTo: 'devices-connection'
        },
        series: [{
            data: loadDatum(devicesConnection)
        }]
    };
    devicesConnectionOptions = jQuery.extend(true, {}, options, devicesConnectionOptions);
    var devicesConnectionChart = new Highcharts.Chart(devicesConnectionOptions);

    var devicesModel = {{ devices_by_model.data|safe }};
    var devicesModelOptions = {
        chart: {
            renderTo: 'devices-model'
        },
        series: [{
            data: loadDatum(devicesModel)
        }]
    };
    devicesModelOptions = jQuery.extend(true, {}, options, devicesModelOptions);
    var devicesModelChart = new Highcharts.Chart(devicesModelOptions);

    var devicesManufacturer = {{ devices_by_manufacturer.data|safe }};
    var devicesManufacturerOptions = {
        chart: {
            renderTo: 'devices-manufacturer'
        },
        series: [{
            data: loadDatum(devicesManufacturer)
        }]
    };
    devicesManufacturerOptions = jQuery.extend(true, {}, options, devicesManufacturerOptions);
    var devicesManufacturerChart = new Highcharts.Chart(devicesManufacturerOptions);
    </script>
{% endblock extrabody %}
