{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
    <script type="text/javascript">
    //<![CDATA[
        $(document).ready(function() {
            $('table').addClass('table table-striped table-hover table-condensed collapse');
        });
    //]]>
    </script>
{% endblock extrahead %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>{% trans 'Stats' %}</li>
        <li>{{ title }}</li>
    </ul>
{% endblock %}

{% block bodyclass %}stats{% endblock %}

{% block content %}
    {% if project_selection %}
        <p>{% trans 'Choose a project to show the delay calendars' %}:</p>
        <div class="btn-group" role="group">
            {% for project in project_selection %}
                <a role="button"
                   class="btn btn-default {% if project.1 == current_project %}active{% endif %}"
                   href="{% url 'chart_delay_schedule' project.1 %}">{{ project.1 }}</a>
            {% endfor %}
        </div>
    {% endif %}

    {% include 'includes/line_chart.html' %}

    {% if tabular_data %}
        <h2>
            <a data-target="table" data-toggle="collapse">
                {% trans 'Data' %}
                <span class="btn btn-xs btn-default">
                    <span class="glyphicon glyphglyphicon glyphicon-resize-full"></span>
                </span>
            </a>
        </h2>

        {{ tabular_data|safe }}
    {% endif %}
{% endblock content %}
