{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
    <script type="text/javascript">
    //<![CDATA[
        $(document).ready(function() {
            $('table').addClass('table table-striped table-hover table-condensed collapse');
        });
    //]]>
    </script>
{% endblock extrahead %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>{% trans 'Stats' %}</li>
    </ul>
{% endblock %}

{% block bodyclass %}stats{% endblock %}

{% block content %}
    <figure class="stat-container">
        <object type="image/svg+xml" data="{{ chart|safe }}"></object>
    </figure>

    {% if tabular_data %}
        <h2>
            <a data-target="table" data-toggle="collapse">
                {% trans 'Data' %}
                <span class="btn btn-xs btn-default">
                    <span class="glyphicon glyphglyphicon glyphicon-resize-full"></span>
                </span>
            </a>
        </h2>

        {{ tabular_data|safe }}
    {% endif %}
{% endblock content %}
