{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>{% trans 'Liberation' %}</li>
    </ul>
{% endblock %}

{% block bodyclass %}package-info{% endblock %}

{% block content %}
    {% if contentpage %}
        <pre>
        {{ contentpage }}
        </pre>
    {% endif %}

    {% if query %}
        <ul class="list-group">
        {% for item in query %}
            <li class="list-group-item">
                <a href="{{ item.1 }}"><span class="fa fa-{{ item.0 }}"></span> {{ item.1 }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
