{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>{% trans 'Liberation' %}</li>
    </ul>
{% endblock %}

{% block bodyclass %}package-info{% endblock %}

{% block content %}
    {% if package_info %}
        <pre>
        {{ package_info }}
        </pre>
    {% endif %}

    {% if file_selection %}
        <ul class="list-group">
        {% for item in file_selection %}
            <li class="list-group-item">
                <a href="{% url 'package_info' item.path %}"><span class="fa fa-{{ item.icon }}"></span> {{ item.text }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}
