{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Preferences' %}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
    </ul>
{% endblock %}

{% block documentation %}{% endblock %}

{% block content %}
    <h1>{% trans 'Preferences' %}</h1>

    {% if project_names %}
    <form action="{% url 'preferences' %}" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="col-md-12 form-group">
            <fieldset>
                <div class="row">
                    <div class="control-label col-md-3">
                        <label class="required" for="project">
                            {% trans 'Filter project for repositories, stores and packages' %}:
                        </label>
                    </div>

                    <div class="controls col-md-9">
                        <select id="project" name="project" class="form-control form-control-inline">
                            <option value="0">----</option>
                        {% for item in project_names %}
                            <option value="{{ item.0 }}"
                                    {% if item.0 == current_project.id %} selected="selected"{% endif %}>
                                {{ item.1 }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </fieldset>

            <div class="form-actions col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary default" type="submit">{% trans 'Save' %}</button>
            </div>
        </div>
    </form>
    {% else %}
        <p class="alert alert-warning" role="alert">
            {% trans 'Before selecting a project, you must create at least one.' %}
        </p>
    {% endif %}
{% endblock content %}
