{% extends "base.html" %}
{% load i18n admin_static %}

{% block extrahead %}
    <script src="{% static 'js/highcharts.js' %}" type="text/javascript"></script>
{% endblock extrahead %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>{% trans 'Liberation' %}</li>
        <li>{{ title }}</li>
    </ul>
{% endblock %}

{% block content_title %}
    {% if title %}<h1 class="change-list-title pull-left">{{ title }}</h1>{% endif %}

    {% if perms.server.add_source %}
        <div id="add-button" class="pull-left">
            <a role="button" href="{% url 'admin:server_source_add' %}" class="btn btn-primary"
               title="{% trans 'Add Source' %}">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    {% endif %}
{% endblock content_title %}

{% block content %}
    {% include 'includes/search_form.html' with url_name='admin:server_source_changelist' %}

    <div class="row text-center">
        {% include 'includes/multipie_chart.html' with item=enabled_sources id='enabled-sources' %}

        {% include 'includes/multipie_chart.html' with item=source_by_enabled id='source-enabled' %}

        {% include 'includes/multipie_chart.html' with item=source_by_schedule id='source-schedule' %}
    </div>
{% endblock content %}

{% block extrabody %}
    <script type="text/javascript" src="{% static 'js/chart_config.js' %}"></script>

    <script type="text/javascript">
    Highcharts.setOptions({
        lang: {
            noData: '{{ chart_options.no_data }}',
            resetZoom: '{{ chart_options.reset_zoom }}',
        }
    });

    var enabledSources = {{ enabled_sources.data|safe }};
    series = loadData(enabledSources);
    var enabledSourcessOptions = {
        chart: {
            renderTo: 'enabled-sources'
        },
        series: [{
            data: series[0]
        }, {
            data: series[1]
        }]
    };
    enabledSourcesOptions = jQuery.extend(true, {}, optionsMulti, enabledSourcesOptions);
    var enabledSourcesChart = new Highcharts.Chart(enabledSourcesOptions);

    var sourceEnabled = {{ source_by_enabled.data|safe }};
    series = loadData(sourceEnabled);
    var sourceEnabledOptions = {
        chart: {
            renderTo: 'source-enabled'
        },
        series: [{
            data: series[0]
        }, {
            data: series[1]
        }]
    };
    sourceEnabledOptions = jQuery.extend(true, {}, optionsMulti, EnabledOptions);
    var sourceEnabledChart = new Highcharts.Chart(sourceEnabledOptions);

    var sourceSchedule = {{ source_by_schedule.data|safe }};
    series = loadData(sourceSchedule);
    var sourceScheduleOptions = {
        chart: {
            renderTo: 'source-schedule'
        },
        series: [{
            data: series[0]
        }, {
            data: series[1]
        }]
    };
    sourceScheduleOptions = jQuery.extend(true, {}, optionsMulti, sourceScheduleOptions);
    var sourceScheduleChart = new Highcharts.Chart(sourceScheduleOptions);
    </script>
{% endblock extrabody %}
