{% extends "base.html" %}
{% load i18n admin_static %}

{% block extrahead %}
    <script src="{% static 'js/highcharts.js' %}" type="text/javascript"></script>
{% endblock extrahead %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>{% trans 'Data' %}</li>
        <li>{{ title }}</li>
    </ul>
{% endblock %}

{% block content %}
    {% include 'includes/search_form.html' with url_name='admin:server_synchronization_changelist' %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading text-left lead">
                {% trans 'Synchronizations / Month' %}
            </div>
            <div class="panel-body">
                <div id="container"></div>
            </div>
        </div>
    </div>

    {% include 'includes/multipie_chart.html' with item=sync_by_project id='sync-project' col=6 %}
{% endblock content %}

{% block extrabody %}
    <script type="text/javascript" src="{% static 'js/chart_config.js' %}"></script>

    <script type="text/javascript">
    Highcharts.setOptions({
        lang: {
            noData: '{{ chart_options.no_data }}',
            resetZoom: '{{ chart_options.reset_zoom }}',
        }
    });

    var syncProject = {{ sync_by_project.data|safe }};
    var syncProjectOptions = {
        chart: {
            renderTo: 'sync-project'
        },
        series: [{
            data: loadDatum(syncProject)
        }]
    };
    syncProjectOptions = jQuery.extend(true, {}, options, syncProjectOptions);
    var syncProjectChart = new Highcharts.Chart(syncProjectOptions);
    </script>

    {% include 'includes/spline_js.html' with x_labels=sync_by_month.x_labels data=sync_by_month.data id='container' %}
{% endblock extrabody %}
