{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Delete Version' %} {{ version }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li>{% trans 'Config' %}</li>
        <li><a href="{% url 'admin:server_version_changelist' %}">{% trans 'Versions' %}</a></li>
        <li><a href="{% url 'admin:server_version_change' version.id %}">{{ version }}</a></li>
    </ol>
{% endblock breadcrumbs %}

{% block content %}
    <h1 class="">{% trans 'Delete Version' %} {{ version }}</h1>

    <form action="." method="post">
        {% csrf_token %}
        <p>{% trans 'Are you sure you want to delete this version?' %}</p>
        <div class="form-actions">
            <button class="btn btn-large btn-danger" type="submit">{% trans "Yes, I'm sure" %}</button> {% trans 'or' %}
            <a href="{% url 'admin:server_version_change' version.id %}" class="btn btn-default">{% trans 'cancel' %}</a>
        </div>
    </form>
{% endblock %}
