{% extends "base.html" %}
{% load i18n admin_static %}

{% block title %}{% trans 'What is migasfree?' %}{% endblock title %}

{% block extrahead %}
<script type="text/javascript">
//<![CDATA[
    $(document).ready(function() {
        $('.carousel').carousel({
            interval: 7000
        });
    });
//]]>
</script>
{% endblock extrahead %}

{% block content %}
<h1 class="sr-only">{% trans 'What is migasfree?' %}</h1>

<div id="carousel-container" class="row">
    <div id="migasfree-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#migasfree-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#migasfree-carousel" data-slide-to="1"></li>
            <li data-target="#migasfree-carousel" data-slide-to="2"></li>
            <li data-target="#migasfree-carousel" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner text-center" role="listbox">
            <div class="item active">
                <img src="{% static 'img/carousel1.png' %}">
                <div class="carousel-caption">
                    <h2>{% trans 'Administra tus ordenadores con migasfree' %}</h2>
                </div>
            </div>

            <div class="item">
                <img src="{% static 'img/carousel2.png' %}">
                <div class="carousel-caption">
                    <h2>{% trans 'Despliega las actualizaciones según calendarios y características de ordenadores y usuarios' %}</h2>
                </div>
            </div>

            <div class="item">
                <img src="{% static 'img/carousel3.png' %}">
                <div class="carousel-caption">
                    <h2>{% trans 'Controla y personaliza cada ordenador, manteniendo íntegros tus sistemas' %}</h2>
                </div>
            </div>

            <div class="item">
                <img src="{% static 'img/carousel4.png' %}">
                <div class="carousel-caption">
                    <h2>{% trans 'Audita fácilmente hardware y software' %}</h2>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#migasfree-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">{% trans 'Previous' %}</span>
        </a>

        <a class="right carousel-control" href="#migasfree-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">{% trans 'Next' %}</span>
        </a>
    </div>
</div>

<div class="row text-center shortcuts">
    <div class="col-md-3 col-xs-3">
        <p><a href="http://migasfree.org/" title="{% trans 'Blog' %}"><span class="fa fa-5x fa-wordpress"></span> <span class="sr-only">{% trans 'Blog' %}</span></a></p>
        <p><strong>{% trans 'News' %}</strong></p>
    </div>

    <div class="col-md-3 col-xs-3">
        <p><a href="http://fun-with-migasfree.readthedocs.org/" title="{% trans 'Fun with migasfree' %}"><span class="fa fa-5x fa-book"></span> <span class="sr-only">{% trans 'Fun with migasfree' %}</span></a></p>
        <p><strong>{% trans 'Documentation' %}</strong></p>
    </div>

    <div class="col-md-3 col-xs-3">
        <p><a href="https://github.com/migasfree/migasfree/" title="{% trans 'Source Code' %}"><span class="fa fa-5x fa-github"></span> <span class="sr-only">{% trans 'Source code' %}</span></a></p>
        <p><strong>{% trans 'Source Code' %}</strong></p>
    </div>

    <div class="col-md-3 col-xs-3">
        <p><a href="http://www.gnu.org/licenses/gpl.html" title="{% trans 'License' %} GPLv3"><span class="fa fa-5x fa-balance-scale"></span> <span class="sr-only">{% trans 'License' %} GPLv3</span></a></p>
        <p><strong>{% trans 'Rights' %}</strong></p>
    </div>
</div>
{% endblock content %}
