{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block extrahead %}
    <script type="text/javascript">
        var active_accordion = 0;
        $(document).ready(function() {
            setInterval(function() {
                $('article #results').load("{% url 'dashboard' %}");
            }, 10000);
        });
    </script>
{% endblock extrahead %}

{% block bodyclass %}status{% endblock bodyclass %}

{% block menu %}
    {% include 'server/includes/mining_menu.html' %}
{% endblock menu %}

{% block content %}
    <div id="results">
        {% include 'server/includes/status.html' %}
    </div>
{% endblock content %}
