nav.ui-widget,
.object-tools,
.breadcrumb,
footer > p + p,
footer ul,
.actions,
article #content-navbar-collapse,
footer a.pull-right,
article button.dropdown-toggle,
article input.action-select,
#action-toggle,
#result_list .sortoptions,
#result_list th.sortable a:after,
.form-actions {
    display: none !important;
}

article {
    margin-left: 0;
}

div#changelist {
    clear: both;
}

#wrapper {
    min-height: 99% !important;
}
