@font-face {
    font-family: 'Average Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Average Sans'), local('AverageSans-Regular'), url('../fonts/AverageSans-Regular.ttf') format('truetype'), url('../fonts/average-sans.woff') format('woff');
}

@font-face {
    font-family: 'Strait';
    font-style: normal;
    font-weight: 400;
    src: local('Strait'), local('Strait-Regular'), url('../fonts/Strait-Regular.ttf') format('truetype'), url('../fonts/strait.woff') format('woff');
}

article * {
    font-family: 'Average Sans', sans-serif;
}

.navbar-fixed-top * {
  z-index: 1001;
}

header *, footer * {
    font-family: 'Strait', sans-serif;
}

header nav .navbar-user {
    margin-right: 0 !important;
}

header a, footer a {
    color: #854e91 !important;
}

footer {
    clear: both;
    margin: 1em auto;
    border-top: 2px solid #E1E1E1;
    font-size: 110%;
}

footer p {
    margin: 0.7em 1em;
}

p#copyright {
    background: url('../img/migasfree-logo.svg') left center no-repeat;
    background-size: contain;
    padding-left: 40px;
}

form .form-group p {
    max-height: 15em;
    overflow: auto;
}

form.form-horizontal .alert-warning {
    display: none;
}

.inline-related fieldset.module td.original p {
    visibility: hidden;
}

table .ordinal {
    text-align: right;
}

#result_list {
    margin-top: 2em;
}

.timeline .list-group-item-text {
    padding-left: 1em;
    font-size: 85%;
}

#changelist-form .results {
    overflow-x: inherit !important;
}

.actions * {
    vertical-align: sub;
}

.progress {
    background-image: linear-gradient(to bottom, #aBaBaB 0px, #d5d5d5 100%);
    background-repeat: repeat-x;
    background-color: #d5d5d5;
}

td.nowrap {
    white-space: nowrap;
}

.boolean-yes {
    color: #1D9E74;
}

.boolean-no {
    color: #f00;
}

.stat-container {
    width: 80vw;
    margin: auto;
}

/* Sticky footer: http://css-tricks.com/snippets/css/sticky-footer/ */
html, body {height: 92.5%;}
#wrapper {
    min-height: 92.5%;
    margin-bottom: 50px;
}
#wrapper:after {
    content: "";
    display: block;
}
footer {
    height: 50px;
}

@media screen and (max-width: 767px) {
    .navbar-nav a.dropdown-toggle:before {
        font-size: 3em;
    }

    .nav>li, .nav>li>a {
        display: inline !important;
    }

    .navbar-nav>li>a {
        line-height: 50px;
    }

    #wrapper {
        margin: 0;
        min-height: 0;
    }

    .vLargeTextField, .vXMLLargeTextField {
        max-width: 75vw !important;
    }

    .form-actions {
        line-height: 50px !important;
    }

    .nav.navbar-nav.pull-right {
        float: none !important;
    }

}

@media screen and (max-width: 500px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        border: none;
        border-bottom: 1px dashed #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-th);
    }
}

span[data-value] {
    display: block !important;
}

.has-error .control-label label,
.has-error .help-inline {
    color: #a94442 !important;
}

.change-list .filtered .results {
    margin-right: 0 !important;
}

.subdomain-text {
    fill: #000 !important;
}

#select-data, #heatmap-controls {
    margin: 20px 0 10px;
}
