@font-face {
    font-family: 'Average Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Average Sans'), local('AverageSans-Regular'), url('../fonts/AverageSans-Regular.ttf') format('truetype'), url('../fonts/average-sans.woff') format('woff');
}

@font-face {
    font-family: 'Strait';
    font-style: normal;
    font-weight: 400;
    src: local('Strait'), local('Strait-Regular'), url('../fonts/Strait-Regular.ttf') format('truetype'), url('../fonts/strait.woff') format('woff');
}

article * {
    font-family: 'Average Sans', sans-serif;
}

.navbar-fixed-top * {
  z-index: 1001;
}

header *, footer * {
    font-family: 'Strait', sans-serif;
}

header nav .navbar-user {
    margin-right: 0 !important;
}

header a, footer a {
    color: #854e91 !important;
}

footer {
    clear: both;
    margin: 1em auto;
    border-top: 2px solid #E1E1E1;
    font-size: 110%;
}

footer p, footer, ul {
    margin: 0.7em 1em;
}

footer li {
    display: inline;
    padding: 0 0 0 1em;
    list-style-type: none;
}

p#copyright {
    background: url('../img/migasfree-logo.svg') left center no-repeat;
    background-size: contain;
    padding-left: 40px;
}

form .form-group p, .reduced-content {
    max-height: 15em;
    overflow: auto;
    line-height: 1.8em;
}

form.form-horizontal .alert-warning {
    display: none;
}

.inline-related fieldset.module td.original p {
    visibility: hidden;
}

table .ordinal {
    text-align: right;
}

#result_list {
    margin-top: 2em;
}

.timeline .list-group-item-text {
    padding-left: 1em;
    font-size: 85%;
}

#changelist-form .results {
    overflow-x: inherit !important;
}

.actions * {
    vertical-align: sub;
}

.progress {
    background-image: linear-gradient(to bottom, #aBaBaB 0px, #d5d5d5 100%);
    background-repeat: repeat-x;
    background-color: #d5d5d5;
}

td.nowrap, .nowrap {
    white-space: nowrap;
}

.boolean-yes {
    color: #1D9E74;
}

.boolean-no {
    color: #f00;
}

.stat-container {
    width: 80vw;
    margin: 20px auto;
}

.stat-embeded {
    width: 100%;
    height: 420px;
}

#computers-delay {
    margin: 30px auto 0;
}

span[data-value] {
    display: block !important;
}

.has-error .control-label label,
.has-error .help-inline {
    color: #a94442 !important;
}

.change-list .filtered .results {
    margin-right: 0 !important;
}

.subdomain-text {
    fill: #000 !important;
}

#select-data, #heatmap-controls {
    margin: 20px 0 10px;
}

#cal-heatmap {
    overflow-x: auto;
    padding-bottom: 5px;
}

.mf-jumbotron {
    background: #854e91;
    color: #fff;
}

#mf-logo {
    position: absolute;
    right: 20px;
    top: 20px;
}

.shortcuts {
    margin-top: 48px;
}

.filter-container {
    padding: 5px;
}

.filter-content {
    display: inline;
    margin: auto 5px;
}

.filter-field {
    border-radius: 5px 0 0 5px;
    background: #f5f5f5;
    color: #777;
    padding: 3px;
}

.filter-value {
    border-radius: 0 5px 5px 0;
    background: #337ab7;
    color: #fff;
    padding: 3px;
}

.filter-value:after {
    content: ' ';
    white-space: pre;
}

h1.change-list-title {
    margin-top: 0 !important;
    margin-right: 10px;
}

.clearfix {
    clear: both;
}

#changelist-search button {
    display: none;
}

a.btn-role {
    color: #337ab7;
    text-decoration: none;
}

a.btn-role:focus, a.btn-role:hover {
    color: #23527c;
    text-decoration: underline;
}

.simulation ul, td ul {
    list-style-type: none;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.hardware-resume {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 140%;
}

.hardware-resume li {
    list-style-type: none;
}

td ul {
    margin: 0;
    padding: 0;
}

td .btn-group {
    display: flex;
    class: btn-group-xs;
}

h1 .btn-group {
   class: btn-group-lg;
}

li .btn-group {
    margin: 3px 0;
}

#carousel-container {
    margin-top: 60px;
}

.carousel-inner {
    background: #efefef;
}

.caurosel-control {
    color: #23527c !important;
    background: transparent !important;
}

.carousel-caption {
    color: #000;
    text-shadow: none;
}

.carousel-caption h2 {
    font-size: 250%;
}

.item img {
    width: 100%;
}

.timeline {
    margin: 0;
    width: 150px;
    float: left;
}

.highcharts {
    max-width: 400px;
    max-height: 400px;
    margin: -20px auto 0 auto;
}
#last-day-events {
    width: 800px;
    margin: 0 auto;
}

.compact-content {
    margin: 10px 0;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-gap: 20px;
    -moz-column-gap: 20px;
}

#sync-attributes {
    margin-top: 20px;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th {
    vertical-align: middle !important;
}

.panel-heading .lead {
    margin-bottom: 0;
}

/* Sticky footer: http://css-tricks.com/snippets/css/sticky-footer/ */
html, body {height: 92.5%;}
#wrapper {
    min-height: 92.5%;
    margin-bottom: 50px;
}
#wrapper:after {
    content: "";
    display: block;
}
footer {
    height: 50px;
}

a.nounderline:link {
    text-decoration:none;
}

.dropdown-menu  li p {
    padding: 0 20px;
}

@media screen and (max-width: 960px) {
    body {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 767px) {
    .navbar-nav a.dropdown-toggle:before {
        font-size: 3em;
    }

    .nav>li, .nav>li>a {
        display: inline !important;
    }

    .navbar-nav>li>a {
        line-height: 50px;
    }

    #wrapper {
        margin: 0;
        min-height: 0;
    }

    .vLargeTextField, .vXMLLargeTextField {
        max-width: 75vw !important;
    }

    .form-actions {
        line-height: 50px !important;
    }

    .nav.navbar-nav.pull-right {
        float: none !important;
    }
}

@media screen and (max-width: 500px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        border: none;
        border-bottom: 1px dashed #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-th);
    }
}

.vTextField {
     width: 100% !important;
}
