{% extends "admin/base.html" %}

{% load i18n %}

{% block title %} {{ title }} | {% trans 'migasfree' %}{% endblock %}

{% block content_title %}<h1><img src='/repo/icons/computer.png' width=32><a href= /migasfree/admin/system/computer/{{computer.id}}> {{title}}</a></h1>{% endblock %}

{% block extrahead %}<link rel="shortcut icon" href="/repo/icons/favicon.png">{% endblock %}

{% block nav-global %}{% endblock %}




{% block extrastyle %}
<style type="text/css">
    #query
    {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;width:100%;border-collapse:collapse;}
    #query td
    {font-size:1em;border:0 px solid #eee;padding:0px 0px 0px 0px;}
    #query th
    {font-size:1.2em;text-align:left;padding-top:3px;padding-bottom:3px;background-color:#417690;color:#ffffff;}
    #query tr.alt
    {background-color:#eff3ff;}
    #query tr
    {background-color:#ffffff;}
    #query pre
    {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;width:100%;border-collapse:collapse;font-size:1.2em;margin:0px 0px 0px 0px;color:#417690;padding-top: 0px;padding-bottom: 0px}
    #query p
    {margin:0px 0px 0px 0px;}


    .first {font-weight:  margin-left: none; padding-right: 1em;vertical-align: top; }
    .second {padding-left: bold; 1em; width: 100%; vertical-align: center; }
    .node { padding: 1em; background: #eff3ff; }
    .node-unclaimed { padding: 1em; background: #FFFFCC ; color: #FF9900 }
    .indented {margin-left: 2em; border-left: dotted thin #dde; padding-bottom: 1em; }



</style>


{% endblock %}


{% block content %}
<div>{{ description }}</div>
<hr>

<table id="query2" >
    {% for row in query %}

<div style='margin-left: {{row.level}}em; margin-bottom: 5px'>

      <tr  >
<table class="node" id="query3" border=0>

{% if row.claimed = 1  %}
  <table class="node">
{% else  %}
  <table class="node-unclaimed">
{% endif %}

{% if row.name %}
  <tr><td>

   {% if row.icon %}
     <img src='/repo/icons/hw/{{row.icon}}' alt='{{row.icon}}' width=32 />
   {% endif %}

   <a href='/migasfree/hardware/{{row.id}}'>{{row.name}}</a>
  </td>
  </tr>
{% endif %}




</table>

</table>

        </tr>


</div>

      {% endfor %}
</table>


<pre>
{{ contentpage }}
</pre>

<br>
<br>
<a href='/migasfree/main'>{% trans 'return to main menu' %}</a>

{% endblock %}













