{% extends "admin/base.html" %}
{% load i18n %}
{% load othertags %}


{% block extrahead %}<link rel="shortcut icon" href="/repo/icons/favicon.png">{% endblock %}


{% block extrastyle %}
<style type="text/css">
    #query
    {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;width:100%;border-collapse:collapse;}
    #query td
    {font-size:1em;border:0 px solid #eee;padding:0px 0px 0px 0px;}
    #query th
    {font-size:1.2em;text-align:left;padding-top:3px;padding-bottom:3px;background-color:#417690;color:#ffffff;}
    #query tr.alt
    {background-color:#eff3ff;}
    #query tr
    {background-color:#ffffff;}
    #query pre
    {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;width:100%;border-collapse:collapse;font-size:1.2em;margin:0px 0px 0px 0px;color:#417690;padding-top: 0px;padding-bottom: 0px}
    #query p
    {margin:0px 0px 0px 0px;}

</style>


{% endblock %}



{% block content %}
<div>{{ description }}</div>
<hr>

    {% for column in filters %}
        {{ column }} 
    {% endfor %}

<table id="main" border=0> <!-- main table -->  
<tr></tr>
<tr>  <!-- row 1 -->


<td> <!-- col 1 -->

  <td> 
  <h3>{% trans 'Clients Data' %}</h3>
  <table id="status" border=0 width=160>

        <tr class=''>
                <td width=4></td>
                <td width=24><img src='/repo/icons/computer.png' width=24></td>
                <td><a href='/migasfree/admin/system/computer/'>{% trans 'Computers' %}</a><br></td>
        </tr>
        <tr class=''>
                <td width=4></td>
                <td width=24><img src='/repo/icons/device.png' width=24></td>
                <td><a href='/migasfree/admin/system/device/'>{% trans 'Devices' %}</a><br></td>
        </tr>
        <tr class=''>
                <td width=4></td>
                <td width=24><img src='/repo/icons/user.png' width=24></td>
                <td><a href='/migasfree/admin/system/user/'>{% trans 'Users' %}</a><br>
                    <a href='/migasfree/admin/system/login'>{% trans 'Logins' %}</a><br></td>
        </tr>
        <tr class=''>
                <td width=4></td>
                <td><img src='/repo/icons/attribute.png' width=24></td>
                <td><a href='/migasfree/admin/system/attribute'>{% trans 'Attributes' %}</a><br></td>
        </tr>
        <tr class=''>
                <td width=4></td>
                <td><img src='/repo/icons/error.png' width=24></td>
                <td><a href='/migasfree/admin/system/error'>{% trans 'Errors' %}</a><br></td>
        </tr>
        <tr class=''>
                <td width=4></td>
                <td><img src='/repo/icons/fault.png' width=24></td>
                <td><a href='/migasfree/admin/system/fault'>{% trans 'Faults' %}</a><br></td>
        </tr>
  </table> 







</td> <!-- end col 1 -->



<td> <!-- col 2 -->
  <h2>{% trans 'Status' %}</h2> 
  <table id="status" border=0 width=400>
    {% for row in status %}
        <tr class="{% cycle 'alt' 'alt' %}">
        {% for field in row %}
            {% if forloop.first %}
                <td width=4></td>
                <td width=32><img src='/repo/icons/{{field}}'></td>
            {% else %}
                {% for subfield in field %}
                    {% if forloop.first %}
                        <td><h3><a href='{{subfield}}'>
                    {% else %}
                        {{subfield}}</a></h3></td>
                    {% endif %}
                {% endfor %} 
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
  </table>
</td > <!-- end col 2 -->



<td> <!-- col 3 -->

  <h2>{% trans 'Queries' %}</h2>
  <table id="status" border=0 width=250>
        <tr class='alt'>
                <td width=4></td>
                <td width=32><img src='/repo/icons/query.png'></td>
                <td><a href='/migasfree/admin/system/query/'><h3>{% trans 'Queries' %}</h3></td>
        </tr>
  </table> 


  <h2>{% trans 'Packing' %} {% version %}</h2> 
  <table id="status" border=0 width=250>
        <tr class='alt'>
                <td width=4></td>
                <td width=32><img src='/repo/icons/store.png'></td>
                <td><a href='/migasfree/admin/system/store/'><h3>{% trans 'Stores' %}</h3></td>
        </tr>
        <tr class='alt'>
                <td width=4></td>
                <td width=32><img src='/repo/icons/package.png'></td>
                <td><a href='/migasfree/admin/system/package/'><h3>{% trans 'Packages/Sets' %}</h3></td>
        </tr>
        <tr class='alt'>
                <td width=4></td>
                <td width=32><img src='/repo/icons/package-info.png'></td>
                <td><a href='/migasfree/info/'><h3>{% trans 'Packages information' %}</h3></td>
        </tr>


  </table> 

  <h2>{% trans 'Configuration' %} {% version %}</h2>
  <table id="status" border=0 width=250>
        <tr class='alt'>
                <td width=4></td>
                <td width=32><img src='/repo/icons/repository.png'></td>
                <td><a href='/migasfree/admin/system/repository/'><h3>{% trans 'Repositories' %}</h3></td>
        </tr>
  </table> 


</td> <!-- end col 3 -->


</tr> <!-- end row 1 -->
</table>




{% endblock %}


