{% extends "admin/base.html" %}
{% load i18n %}
{% load othertags %}


{% block extrahead %}<link rel="shortcut icon" href="/repo/icons/favicon.png">{% endblock %}






{% block content %}
<div>{{ description }}</div>
<hr>

    {% for column in filters %}
        {{ column }} 
    {% endfor %}

<table id="main" border=0> <!-- main table -->  
<tr></tr>
<tr>  <!-- row 1 -->

<td> <!-- col 1 -->


  <table id="query" border=0 width=750>
        {% for row in query %}
            <tr class='alt'>
            {% for field in row %}
                
                {% if forloop.first %}
                    <td width=4>
                    <td width=32><img src='/repo/icons/query.png'></td>
                    <td width=750><h3><a href='/migasfree/query/?id={{field}}'>
                {% else %}
                    {{field}}</a></h3></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
  </table>

</td> <!-- end col 1 -->


</tr> <!-- end row 1 -->
</table>




{% endblock %}


