{% extends "admin/base.html" %}
{% load i18n %}
{% load othertags %}

{% block extrahead %}<link rel="shortcut icon" href="/repo/icons/favicon.png">{% endblock %}




{% block extrastyle %}
<style type="text/css">
    #query
    {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;width:100%;border-collapse:collapse;}
    #query td
    {font-size:1em;border:0 px solid #eee;padding:0px 0px 0px 0px;}
    #query th
    {font-size:1.2em;text-align:left;padding-top:3px;padding-bottom:3px;background-color:#417690;color:#ffffff;}
    #query tr.alt
    {background-color:#eff3ff;}
    #query tr
    {background-color:#ffffff;}
    #query pre
    {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;width:100%;border-collapse:collapse;font-size:1.2em;margin:0px 0px 0px 0px;color:#417690;padding-top: 0px;padding-bottom: 0px}
    #query p
    {margin:0px 0px 0px 0px;}

</style>


{% endblock %}



{% block content %}
<div>{{ description }}</div>
<hr>

    {% for column in filters %}
        {{ column }} 
    {% endfor %}


<table id="main" border=0> <!-- main table -->  
<tr></tr>
<tr>  <!-- row 1 -->


<td><!-- start col 1 -->
  <h3>{% trans 'General' %}</h3>
  <table id="status" border=0 width=250>
        <tr class=''>
                <td width=4></td>
                <td width=24><img src='/repo/icons/property.png' width=24></td>
                <td><a href='/migasfree/admin/system/property'>{% trans 'Properties' %}</a></td>
        </tr>



        <tr class=''>
                <td width=4></td>
                <td width=24><img src='/repo/icons/version.png' width=24></td>
                <td>
                    <a href='/migasfree/admin/system/version'>{% trans 'Versions' %}</a><br>
                </td>
        </tr>

        <tr class=''>
                <td width=4></td>
                <td width=24><img src='/repo/icons/pms.png' width=24></td>
                <td>
                    <a href='/migasfree/admin/system/pms'>{% trans 'P.M.S.' %}</a><br>
                </td>
        </tr>


        <tr class=''>
                <td width=4></td>
                <td><img src='/repo/icons/variable.png' width=24></td>
                <td>
                    <a href='/migasfree/admin/system/variable'>{% trans 'Variables' %}</a><br>
                </td>
        </tr>

        <tr class=''>
                <td width=4></td>
                <td><img src='/repo/icons/web-browser.png' width=24></td>
                <td>
                    <a href='/repo'>{% trans '/repo in server' %}</a><br>
                </td>
        </tr>

        <tr class=''>
                <td width=4></td>
                <td><img src='/repo/icons/system.png' width=24></td>
                <td>
                    <a href='/migasfree/admin/'>{% trans 'Site administration' %}</a><br>
                </td>
        </tr>

  </table>

</td><!-- end col 1 -->


<td> <!-- col 2 -->
  <td> 





  <h3>{% trans 'Users' %}</h3>
  <table id="status" border=0 width=250>
        <tr class=''>
                <td width=4></td>
                <td width=24><img src='/repo/icons/usermigasfree.png' width=24></td>
                <td>
                    <a href='/migasfree/admin/system/userprofile'>{% trans 'Users' %}</a><br>
                    <a href='/migasfree/admin/auth/group/'>{% trans 'Groups' %}</a><br>
                </td>
        </tr>
  </table>

  <h3>{% trans 'Status' %}</h3>
  <table id="status" border=0 width=250>
        <tr class=''>
                <td width=4></td>
                <td><img src='/repo/icons/checkingdef.png' width=24></td>
                <td><a href='/migasfree/admin/system/checking'>{% trans 'Checkings' %}</a></td>
        </tr>

        <tr class=''>
                <td width=4></td>
                <td><img src='/repo/icons/autocheckerror.png' width=24></td>
                <td><a href='/migasfree/admin/system/autocheckerror'>{% trans 'Auto Check Errors' %}</a></td>
        </tr>

        <tr class=''>
                <td width=4></td>
                <td width=24><img src='/repo/icons/faultdef.png' width=24></td>
                <td>
                    <a href='/migasfree/admin/system/faultdef'>{% trans 'Faults' %}</a><br>
                </td>
        </tr>

  </table>

  <h3>{% trans 'Schedules' %}</h3>
  <table id="status" border=0 width=250>
        <tr class=''>
                <td width=4></td>
                <td width=24><img src='/repo/icons/schedule.png' width=24></td>
                <td>
                    <a href='/migasfree/admin/system/schedule'>{% trans 'Schedules' %}</a><br>
                    <a href='/migasfree/admin/system/scheduledelay'>{% trans 'Delays' %}</a><br>
                </td>
        </tr>
  </table>

  <h3>{% trans 'Devices' %}</h3>
  <table id="status" border=0 width=250>

        <tr class=''>
                <td width=4></td>
                <td width=24><img src='/repo/icons/devicedef.png' width=24></td>
                <td>
                    <a href='/migasfree/admin/system/deviceconnection'>{% trans 'Connections' %}</a><br>
                    <a href='/migasfree/admin/system/devicemanufacturer'>{% trans 'Manufacturer' %}</a><br>
                    <a href='/migasfree/admin/system/devicemodel'>{% trans 'Models' %}</a><br>
                    <a href='/migasfree/admin/system/devicetype'>{% trans 'Types' %}</a>
                </td>
        </tr>



  </table> 


</td> <!-- end col 2 -->


</tr> <!-- end row 1 -->
</table>




{% endblock %}












