{% extends "admin/base.html" %}
{% load i18n %}
{% load server_tags %}

{% block content %}
    <h3>{% trans 'Computers' %}</h3>

    <ul class="query">
        <li class="odd"><a href="{% url chart_type 'hourly_updated' %}"><img src="{{ STATIC_URL }}icons/chart.png" /> {% trans 'Updated Computers / Hour' %}</a></li>

        <li class="even"><a href="{% url chart_type 'daily_updated' %}"><img src="{{ STATIC_URL }}icons/chart.png" /> {% trans 'Updated Computers / Day' %}</a></li>

        <li class="odd"><a href="{% url chart_type 'monthly_updated' %}"><img src="{{ STATIC_URL }}icons/chart.png" /> {% trans 'Updated Computers / Month' %}</a></li>

        <li class="even"><a href="{% url chart_type 'delay_schedule' %}"><img src="{{ STATIC_URL }}icons/chart.png" /> {% trans 'Provided Computers / Delay' %}</a></li>

        <li class="odd"><a href="{% url chart_type 'version_computer' %}"><img src="{{ STATIC_URL }}icons/chart.png" /> {% trans 'Computers / Version' %}</a></li>
    </ul>
{% endblock %}
