{% extends "admin/base.html" %}
{% load i18n %}

{% block content %}
    <h3>{% trans 'Manuals' %}</h3>

    <ul>
        <li><a href="{{ STATIC_URL }}documentation/{{ LANGUAGE_CODE }}/quick_start.pdf"><img src="{{ STATIC_URL }}icons/documentation.png" /> {% trans 'Quick Start' %}</a></li>

        <li><a href="{{ STATIC_URL }}documentation/{{ LANGUAGE_CODE }}/user_manual.pdf"><img src="{{ STATIC_URL }}icons/documentation.png" /> {% trans 'User Manual' %}</a></li>
    </ul>

    <h3>{% trans 'Development' %}</h3>

    <ul>
        <li><a href='/migasfree/doc/models/'><img src="{{ STATIC_URL }}icons/documentation-model.png" /> {% trans 'model documentation' %}</a></li>
    </ul>

    <h3>{% trans 'Links' %}</h3>

    <ul>
        <li><a href="http://www.migasfree.org/"><img src="{{ STATIC_URL }}icons/web-browser.png" /> {% trans 'migasfree website' %}</a></li>
    </ul>
{% endblock %}
