{% extends "base_full.html" %}
{% load i18n %}

{% block content %}
    <h2>{{ description }}</h2>

    {% for row in traceback %}
        <p>
            <strong>
                {% trans 'File' %}: {{ row.filename }}
                <br />{% trans 'Name' %}: {{ row.name }}
                <br /> {% trans 'Line' %}: {{ row.line }}
            </strong>
        </p>
        {% for variable in row.locals %}
            <pre>{{ variable.key }}={{ variable.value }}</pre>
        {% endfor %}
    {% endfor %}

    <pre>
    {{ contentpage }}
    </pre>
{% endblock content %}
