{% extends "admin/base.html" %}
{% load i18n %}

{% block content %}
    {% if filters %}
        <p>
        {% for column in filters %}
            {{ column }}
        {% endfor %}
        </p>
    {% endif %}

    {% if query %}
        <ul class="query">
        {% for item in query %}
            <li class="{% cycle 'odd' 'even' %}">
                <img src="{{ STATIC_URL }}icons/{{ item.0 }}" />
                <a href="{{ item.1 }}">{{ item.1 }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}
