{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'migasfree' %}{% endblock %}

{% block content %}
    {% if description %}<div>{{ description }}</div>{% endif %}

    {% if filters %}
        <p>
        {% for column in filters %}
            {{ column }}
        {% endfor %}
        </p>
    {% endif %}

    {% if query %}
        <ul class="query">
        {% for item in query %}
            <li class="{% cycle 'odd' 'even' %}">
                <img src='/repo/icons/{{ item.0 }}' />
                <a href="{{ item.1 }}">{{ item.1 }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
