{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
$(document).ready(function() {
    setInterval(function() {
        $('article #results').load("{% url dashboard %}");
    }, 10000);
});
    </script>
{% endblock extrahead %}

{% block menu %}
    {% include 'includes/mining_menu.html' %}
{% endblock menu %}

{% block content %}
    <div id="results">
        {% include 'includes/status.html' %}
    </div>
{% endblock content %}
