{% extends "admin/base.html" %}
{% load i18n %}

{# TODO Ajax to messages #}
{% block extrahead %}<meta http-equiv="refresh" content="5" />{% endblock %}

{% block content %}
    {% if query %}
        <table id="query">
            <tr>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Computer' %}</th>
                <th>{% trans 'Version' %}</th>
                <th>{% trans 'IP' %}</th>
                <th>{% trans 'Login' %}</th>
                <th>{% trans 'Message' %}</th>
            </tr>

            {% for item in query %}
                <tr class="{% cycle '' 'alt' %}">
                    <td>{{ item.8 }}</td>

                    <td><img src="{{ STATIC_URL }}icons/{{ item.0 }}" width="36" /> <a href="{% url admin:server_computer_change item.2 %}">{{ item.3 }}</a></td>

                    <td>{{ item.6 }}</td>

                    <td>{{ item.7 }}</td>

                    <td><a href="{% url admin:server_login_change item.4 %}">{{ item.5 }}</a></td>

                    <td>{{ item.9 }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="info">{% trans 'No messages to show' %}</p>
    {% endif %}
{% endblock %}
