{% extends "admin/base.html" %}
{% load i18n %}
{% load server_tags %}

{% block content %}
    {% if filters %}
        <p>
        {% for column in filters %}
            {{ column }}
        {% endfor %}
        </p>
    {% endif %}

    {% if query %}
        <ul class="query">
        {% for item in query %}
            <li class="{% cycle 'odd' 'even' %}">
                <a href="{% url query item.0 %}"><img src="{{ STATIC_URL }}icons/query.png" /> {{ item.1 }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
