{% extends "admin/base.html" %}
{% load i18n %}

{% block content %}
    {% for column in filters %}
        <pre>   {{ column }}</pre>
    {% endfor %}

    {% if row_count %}
        <p class="info">{{ row_count }} {% trans 'results' %}</p>

        <table id="query">
            <tr>
            {% for column in titles %}
                <th>{{ column }}</th>
            {% endfor %}
            </tr>

            {% autoescape off %}
                {% for row in query %}
                    <tr class="{% cycle '' 'alt' %}">
                    {% for field in row %}
                        <td><pre>{{ field|linebreaks }}</pre></td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            {% endautoescape %}
        </table>
    {% else %}
        <p class="info">{% trans 'No results for query' %}</p>
    {% endif %}
{% endblock content %}
