{% extends "admin/base.html" %}
{% load i18n %}
{% load server_tags %}

{% block content %}
    {% if description %}<div>{{ description }}</div>{% endif %}

    {% for column in filters %}
        {{ column }}
    {% endfor %}

    <div id="system-general">
        <h3>{% trans 'General' %}</h3>

        <ul>
            <li><a href='/migasfree/admin/server/property'><img src='/repo/icons/property.png' width="24" /> {% trans 'Properties' %}</a></li>

            <li><a href='/migasfree/admin/server/version'><img src='/repo/icons/version.png' width="24" /> {% trans 'Versions' %}</a></li>

            <li><a href='/migasfree/admin/server/pms'><img src='/repo/icons/pms.png' width="24" /> {% trans 'P.M.S.' %}</a></li>

            <li><a href='/repo'><img src='/repo/icons/web-browser.png' width="24" /> {% trans '/repo in server' %}</a></li>

            <li><a href='/migasfree/admin/'><img src='/repo/icons/system.png' width="24" /> {% trans 'Site administration' %}</a></li>

            <li><a href='/migasfree/admin/server/query/'><img src='/repo/icons/query.png' width="24" /> {% trans 'Queries' %}</a></li>
        </ul>
    </div>

    <div id="system-users-status">
        <h3>{% trans 'Users' %} <img src='/repo/icons/usermigasfree.png' width="24" /></h3>

        <ul>
            <li><a href='/migasfree/admin/server/userprofile'>{% trans 'Users' %}</a></li>

            <li><a href='/migasfree/admin/auth/group/'>{% trans 'Groups' %}</a></li>
        </ul>

        <h3>{% trans 'Status' %}</h3>

        <ul>
            <li><a href='/migasfree/admin/server/checking'><img src='/repo/icons/checkingdef.png' width="24" /> {% trans 'Checkings' %}</a></li>

            <li><a href='/migasfree/admin/server/autocheckerror'><img src='/repo/icons/autocheckerror.png' width="24" /> {% trans 'Auto Check Errors' %}</a></li>

            <li><a href='/migasfree/admin/server/faultdef'><img src='/repo/icons/faultdef.png' width="24" /> {% trans 'Faults' %}</a></li>
        </ul>
    </div>

    <div id="system-schedules-devices">
        <h3>{% trans 'Schedules' %} <img src='/repo/icons/schedule.png' width="24" /></h3>

        <ul>
            <li><a href='/migasfree/admin/server/schedule'>{% trans 'Schedules' %}</a></li>

            <li><a href='/migasfree/admin/server/scheduledelay'>{% trans 'Delays' %}</a></li>
        </ul>

        <h3>{% trans 'Devices' %} <img src='/repo/icons/devicedef.png' width="24" /></h3>

        <ul>
            <li><a href='/migasfree/admin/server/devicefile'>{% trans 'Files' %}</a></li>

            <li><a href='/migasfree/admin/server/devicemodel'>{% trans 'Models' %}</a></li>

            <li><a href='/migasfree/admin/server/devicemanufacturer'>{% trans 'Manufacturer' %}</a></li>

            <li><a href='/migasfree/admin/server/deviceconnection'>{% trans 'Connections' %}</a></li>

            <li><a href='/migasfree/admin/server/devicetype'>{% trans 'Types' %}</a></li>
        </ul>
    </div>
{% endblock %}
